[2021-09-09 00:42] #836 closed

[2021-09-09 00:51] #438 closed

[2021-09-09 10:20] stevebeck89 opened #858 "SNOW-454134: Parameters do not support lists of dates."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Replace with the output of `2.5.0`

2. What operating system and processor architecture are you using?

   Replace with the output of `Darwin-20.6.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip freeze`)?

   N/A

4. What did you do?

   Execute SQL wi

[2021-09-09 12:38] ivergara opened #860 "SNOW-454169: Support Pandas 1.3 series"
## What is the current behavior?
Currently, when installing snowflake-connector together with pandas 1.3, the dependency resolver fails.

## What is the desired behavior?
To be able to install snowflake-connector when specifying pandas 1.3.*

## How would this improve `snowflake-connector-python`?
To make it installable alongside the latest pandas release.

## References, Other Background
Basicall

[2021-09-09 16:55] #439 closed

[2021-09-10 00:01] #860 closed

[2021-09-10 00:10] sfc-gh-mkeller commented on #848
You're right. Did you want to provide a fix for this @gordonhart ?

[2021-09-10 01:22] gordonhart commented on #848
Sure, I'll take a look at this.

[2021-09-10 07:30] ivergara commented on #860
That was fast! Thanks!

[2021-09-10 19:17] mosqueteiro opened #865 "SNOW-456633: Environment variables for proxy being ignored"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.7.10 | packaged by conda-forge | (default, Feb 19 2021, 16:07:37)
[GCC 9.3.0]

2. What operating system and processor architecture are you using?

inside docker container: Linux-5.10.47-linuxkit-x86_64-with-debian-bullseye-sid

3. What are the component versions in the environmen

[2021-09-11 02:31] sfc-gh-kwagner commented on #865
@mosqueteiro can you reach out to Snowflake support for help with this issue. That's the proper channel for this type of issue

[2021-09-13 13:39] jonashaag commented on #544
Any news on this? As a workaround we currently have a hardcoded list of columns to `json.parse` in the query "postprocessing".

[2021-09-13 15:31] jtrudel-ueat opened #866 "SNOW-457892: write_pandas always give snowflake.connector.errors.OperationalError: <exception str() failed>"
1. What version of Python are you using?

Python 3.8.10 (tags/v3.8.10:3d8993a, May  3 2021, 11:48:03) [MSC v.1928 64 bit (AMD64)]

2. What operating system and processor architecture are you using?

Windows-10-10.0.19043-SP0

3. What are the component versions in the environment (`pip freeze`)?

asn1crypto==1.4.0
azure-common==1.1.27
azure-core==1.18.0
azure-storage-blob==12.8.1
boto3==1.18.40
bot

[2021-09-13 17:15] z27fang commented on #851
Some updates with this issue.

I noticed this usually happens while the result was cached. Today I sent the same query multiple times with same role/account, thought it returned the result, it's still popping the message of `Don't know how to construct ResultBatches...`. I will share some details for this error later.

[2021-09-13 18:49] sfc-gh-mkeller commented on #866
Hi @jtrudel-ueat what deployment are you in? https://github.com/snowflakedb/snowflake-connector-python/issues/850#issuecomment-912105464

Please see the workarounds I posted here: https://github.com/snowflakedb/snowflake-connector-python/issues/850#issuecomment-914484810 Could you please see if option 2 fixed this issue for you?

[2021-09-13 20:56] sfc-gh-mkeller commented on #851
Hi @z27fang
This is actually a bug that was already addressed in #852, but it just happens that after logging this error the code still works properly.
You can safely ignore this until `2.6.1` is released (which will have #852 included), or downgrade to `2.5.1` in the meantime.
Please re-open this ticket if you believe that this was closed incorrectly

[2021-09-13 20:56] #851 closed

[2021-09-14 15:36] jtrudel-ueat commented on #866
Hi @sfc-gh-mkeller,

I was in deployment 2.6.0.

I can confirm that:
1. Downgrading to 2.4.6 fixes the issue
2. Using use_new_put_get=False while using 2.6.0 also fixes the issue.

I'll mark it as resolved then,

thank you!

[2021-09-14 17:45] sfc-gh-mkeller commented on #866
Please, keep en eye out for version `2.6.1`, once you upgrade to that version remove `use_new_put_get=False` and let us know if that is not working for you!

[2021-09-14 20:59] sfc-gh-mkeller commented on #866
Version `2.3.1` was released 2 hours ago, please try using that @jtrudel-ueat

[2021-09-14 21:02] sfc-gh-mkeller commented on #850
Any affected users should try installing the newly released `2.6.1` [connector](https://pypi.org/project/snowflake-connector-python/2.6.1/) and try removing the `use_new_put_get=False` workaround flag to see if the new version has fixed the issue.
We apologize again for any inconvenience and are looking forward to your feedback!

[2021-09-16 20:34] 2020testuser opened #870 "SNOW-464321: Parsing Json"
## What is the current behavior?
Currently, the json in the variant column can only be parsed using json.parse() and this is slow.
## What is the desired behavior?
Looking for a function that can parse (efficiently) the json string in the variant column
## How would this improve `snowflake-connector-python`?
Better performance

Any better way to parse the json would be very helpful as my json is o

[2021-09-16 22:48] sfc-gh-mkeller commented on #795
Hi @jesumyip
I just took a look and it looks like you should be able to surround your warehouse name with double quotes to get the expected behavior.
Could you try doing `dbWarehouse = "\"123-abc_MYWH\""` and let me know if this works for you?

Here's my full reproduction code:
[code]

[2021-09-17 22:02] sfc-gh-mkeller commented on #870
Hi @2020testuser
Currently we don't support any JSON parsing in our Python library, so I have marked this issue as an enhancement.

From some googling around I found the following library https://github.com/ijl/orjson which promises to be the fastest Python JSON library. I have never used it myself, but please feel free to give it a try and let us know of how you find it, so that we can take your

[2021-09-17 23:39] #850 closed

[2021-09-17 23:51] sfc-gh-mkeller commented on #828
@jonashaag I tried reproducing your issue , I found that the following worked as expected.
[code]

I tried using a table and also running the `result_scan` from a brand new connection and I am unable to reproduce your issue.
Could you see if you could reproduce the issue with our Python connector only?

[2021-09-18 09:44] jesumyip commented on #795
Thank you mkeller. That seems to do the trick.

[2021-09-18 09:44] #795 closed

[2021-09-20 08:37] jonashaag commented on #828
Interesting. I can reproduce the behaviour with connector versions 2.4, 2.5, 2.6, using the following script:

[code]

[code]

[2021-09-23 10:33] gasci opened #873 "SNOW-467993: 2.5.1 build dependencies failing"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.9.7

2. What operating system and processor architecture are you using?

   Darwin-20.6.0-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

   Replace with the output of python -m pip freeze`

[code]

5. What did you expect to see?

     The libr

[2021-09-23 21:08] sfc-gh-hkapre commented on #873
@gasci Our drivers/connectors are not yet supported on ARM. We have this item in our backlog and are looking into what will be needed.

[2021-09-23 21:12] sfc-gh-hkapre commented on #866
Please reopen if this issue is not resolved with 2.6.1

[2021-09-23 21:12] #866 closed

[2021-09-23 21:20] sfc-gh-hkapre commented on #857
@thomasaarholt This is not currently possible due to our use of OCSP. We are starting to look into what will be needed to support M1 and will provide an update once we have completed our analysis.

[2021-09-24 09:34] gasci commented on #873
We faced the same problem on some Intel computers, too. After updating to `2.6.1` the `pyarrow` dependency build problem goes away but another problem arises: **Should we add another parameter regarding the SSH private key that didn't exist before version 2.6.0?**

[code]

[2021-09-24 17:00] sfc-gh-mkeller commented on #873
Let me break down your comment @gasci

We need more information than this to help you with this info, at least the OS, OS version, `python --version --version` and `python -c "import platform; print(platform.platform())"`.

Please do describe this in more detail!

`TypeError: __init__() missing 1 required positional argument: 'backend'` can be fixed by updating `cryptography`, please try that with

[2021-09-24 18:27] gasci commented on #873
Thank you. Updating cryptography has solved our problem!

[2021-09-24 18:27] #873 closed

[2021-09-27 06:46] asafsarid opened #878 "SNOW-469340: Add no-retry option when submitting an Asynchronous Query (execute_async)"
## What is the current behavior?
Currently for both `execute` and `execute_async` the behavior is to continue retrying in case of a "retry-able" error.
This causes the execution part of an async query (`execute_async`) to hang for a long time in case of an error.
For example: In case of 503 Error from Snowflake's API due to throttling, the execution will hang until it succeeded adding the query in

[2021-09-28 15:52] bwahacker commented on #97
I'm seeing the same issue, for what it's worth:

import snowflake.connector

$ pip3 list | grep -i snowflake
snowflake                     0.0.3
snowflake-connector-python    2.6.0

[2021-09-29 08:10] gabrielgirodo opened #880 "SNOW-470745: No module named 'dataclasses' when calling AWS Lambda"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.6.2 (v3.6.2:5fd33b5, Jul  8 2017, 04:57:36) [MSC v.1900 64 bit (AMD64)]

2. What operating system and processor architecture are you using?

   Windows-10-10.0.17763-SP0

3. What are the component versions in the environment (`pip freeze`)?

   absl-py==0.11.0
appdirs==1.4.4
a

[2021-09-30 17:15] sfc-gh-mkeller commented on #343
This was fixed as part of https://github.com/snowflakedb/snowflake-connector-python/commit/11365966a2ce1d2487920ed8a5468c2a6076f0e8
Please re-open this issue if you think we have made a mistake!

[2021-09-30 17:15] #343 closed

[2021-09-30 17:35] pecigonzalo commented on #303
Hi! I see we now have #847 but this does not seem to be fully resolved as we still give way to `handle_error` and this I believe causes the something like `dbt debug` to fail.

Maybe an additional request here but we should try and use a fixed port or at least take an argument/env-var for it as otherwise we cant map the port from environments like Docker.

What are the next step here? Happy to sub

[2021-09-30 19:06] iserko commented on #303
While #847 does exactly what it says, it does not help this issue.

Once the `sso_url` is printed, the code should pause and wait for the user to paste in the URL that they are redirected to by the SSO process.

[2021-09-30 20:21] iserko commented on #303
@pecigonzalo would you mind giving https://github.com/snowflakedb/snowflake-connector-python/pull/883 a try and see if it works for you?

[2021-09-30 21:18] sfc-gh-kterada commented on #880
@gabrielgirodo, are you able to upgrade to Python 3.7.x which does not have a dependency on the module noted? Thank you.

[2021-09-30 21:19] #742 closed

[2021-09-30 21:19] sfc-gh-hchaturvedi commented on #865
Hey @mosqueteiro did you get a chance to reach out to Snowflake support?

Also I noticed that there is an SSL Handshake error with the proxy.
`connection broken by 'SSLError(SSLError("bad handshake: Error([('SSL routines', 'ssl3_get_record', 'wrong version number')])"))':
`
 Just curious if you've explored the possibility of a proxy configuration problem?

[2021-10-01 07:26] feluelle commented on #349
Hi @damienrj, hi @sfc-gh-wshangguan,

I experience exactly the same behaviour with latest 2.6.2 version and `secure-local-storage` package installed. We are using dbt to run snowflake queries. The connector is prompting for every query dbt does.

[2021-10-01 21:14] sfc-gh-wshangguan commented on #349
Hi @damienrj @feluelle , I tried the same code above and failed to reproduce it. Can you please check the following two points?
    1. Follow the `To enable connection caching:` in https://docs.snowflake.com/en/user-guide/admin-security-fed-auth-use.html#label-sso-with-command-line-clients. You would need to install the correct python connector deps, e.g., using `pip install "snowflake-connector-p

[2021-10-01 21:44] pecigonzalo commented on #303
I think my colleague @feluelle gave it a look and commented that it worked. He commented on the PR.

[2021-10-04 09:18] feluelle commented on #349
Hi @sfc-gh-wshangguan,

Thank you for your quick response.
We have followed the documentation and also installed with `secure-local-storage` and set `ALLOW_ID_TOKEN` to true, but still running into this issue.

[2021-10-04 09:27] feluelle commented on #349
I have also tested `keyring` and it seems to work. I do not see any errors there.

[2021-10-04 17:26] sfc-gh-mkeller commented on #828
@jonashaag I copy pasted your code snippet and I cannot reproduce your issue.
I'd need your query ID for these 2 queries to continue my investigation. It might be that you have some non-default parameter set on your account, or user that's causing this.

If you could post those here I could take a look. If you are not comfortable doing that then please open a support ticket with a link to this iss

[2021-10-05 04:28] #406 closed

[2021-10-05 07:56] feluelle commented on #349
Hi @sfc-gh-wshangguan,

I don't know what has happened, but for some reason it starts working. 🚀  I don't know what has changed. :(

[2021-10-05 07:57] feluelle commented on #303
Hi @iserko, correct. I tested it out and it worked like a charm. :) We only faced some issues regarding caching the token, but they, for some reason, have solved themselves :D

[2021-10-05 13:54] chuckthesoftwarechef opened #888 "SNOW-473785: cpplint suggested header order cleanup"
## Background

Hi!  As part of #874 it was suggested that cpplint be added to the python connector CI pipeline.  Before that can happen there are still a number of warnings that need to be cleaned up.

## How would this improve `snowflake-connector-python`?

Having cpplint in the CI pipeline will help catch a variety of issues.

## References, Other Background
See #406

[2021-10-05 21:45] mosqueteiro commented on #865
I haven't been able to identify a configuration problem with the proxy I am using. It is a docker container running the latest version of _tinyproxy_

[2021-10-06 07:20] akdor1154 opened #890 "SNOW-474539: TIMESTAMP_TZ loses TZ when fetching as pandas/arrow"
<details>
<summary>Please answer these questions before submitting your issue. Thanks!</summary>

1. What version of Python are you using?

   Python 3.9

2. What operating system and processor architecture are you using?

   Linux-5.11.0-37-generic-x86_64-with-glibc2.33

3. What are the component versions in the environment (`pip freeze`)?
[code]
</details>

4. What did you do?

[code]

5. What d

[2021-10-06 22:03] zfaria-womply opened #892 "SNOW-475323: write_pandas throwing __init__() missing 1 required positional argument: 'backend'"
1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

[code]
3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

I simply created a dataframe and attempted to write it to a table and this error occurred.

5. What did you expect to see?

Expected it to write the df to snowflake.

I was ab

[2021-10-07 00:07] #892 closed, assigned to sfc-gh-mkeller

[2021-10-07 18:41] mosqueteiro commented on #865
@sfc-gh-hchaturvedi  I have reached out to Snowflake support but so far that has been a convoluted process. I would like to point back to the fact that if I use the `proxy_host` and `proxy_port` arguments I do not get this error. This is why I believe this is an issue with the code and not my configuration. I am also advocating for keeping the parameters `proxy_host` and `proxy_port`. If the conne

[2021-10-07 20:08] sfc-gh-jbahk commented on #660
Hello, we've reduced the package size considerably but unfortunately pyarrow 5.0.0 (our latest requirement) is 80MB. We will continue to look into this.

[2021-10-09 13:00] eddyojb88 opened #896 "SNOW-477347: Bug and standardization request: fix conflicting requirements.txt and snowflake-connector package requirements. Standardize install process"
1. What version of Python are you using?
 `python --version 3.7`

2. What operating system and processor architecture are you using?
_Ubuntu but deemed irrelevant._

3. What are the component versions in the environment (`pip freeze`)?
_Deemed irrelevant._

4. What did you do?
_Installed using requirements as stated here:_
[code]

5. What did you expect to see?
_An installation process that is in

[2021-10-09 13:11] eddyojb88 commented on #896
This bug just goes on and on with dependency conflicts caused by the snowflake-connector package. Here is my 5th dependency conflict:

[code]

[2021-10-11 07:50] jonashaag commented on #828
Query ID of `select 1::number(38,0)`: `019f8835-3200-a818-0000-1e692eedf386`

Query ID of `result_scan`: `019f8835-3200-a7fb-0000-1e692eede432`

[2021-10-12 18:14] #470 closed

[2021-10-13 04:36] sfc-gh-madkins commented on #686
@manugarri I just submitted this PR (https://github.com/snowflakedb/snowflake-connector-python/pull/898) that allows snowflake to infer the schema from parquet files that are staged during the write process of write_pandas. Snowflake has an INFER_SCHEMA table function that came out not too long ago.

[2021-10-13 11:45] manugarri commented on #686
@sfc-gh-madkins  thanks, for what i see, the functionality you add on that PR is to create a new table if it doesnt exist, **not** to give the option to make that table temporary (which is a pretty common step in etls). Would that be the case?

[2021-10-14 00:45] timgraham opened #900 "SNOW-481620: Base Snowflake exception class doesn't set args"
https://github.com/snowflakedb/snowflake-connector-python/blob/f556aae816d28a3deca716e4b1e230aae41e4982/src/snowflake/connector/errors.py#L32-L80

The base Snowflake exception class above doesn't set the [`args` attribute](https://docs.python.org/3/library/exceptions.html#BaseException.args).

Django [expects this attribute to be set](https://github.com/django/django/blob/30d8932753cd0e414469f8da7

[2021-10-14 21:55] eddyojb88 commented on #896
Thanks.

Can you write some normal requirements and documentation please, its a mess.

A simple solution would have been to include the version of the snowflake connector in the requirements file, not as a comment.

[2021-10-15 01:47] timgraham opened #907 "SNOW-487268: dbapi.Binary should be bytes not str"
Django uses `Database.Binary` to [prepare values](https://github.com/django/django/blob/514c16e85f7ac2512235f3b6413646627420e969/django/db/models/fields/__init__.py#L2358) before they're sent to the database.

snowflake-connector-python currently has:

https://github.com/snowflakedb/snowflake-connector-python/blob/a14ed5776f25fcca9fa13853bbdb171b4f146b76/src/snowflake/connector/dbapi.py#L52

which

[2021-10-15 15:25] wclaytonius commented on #799
@jtcohen6 - Can you share an update on when this might get fixed? So far we can't get any of these workarounds to work with our new analysts' M1.

[2021-10-16 01:26] olegkapustin opened #909 "SNOW-487478: Chunk upload fails for streams with size exceeding the multipart_threshold"
## Steps to reproduce:
1. Prepare data file larger than 200MB (compressed)
2. Execute the code below (mind connection details and path to the data file):

[code]

## Expected result:

The file is uploaded to the internal stage.

## Actual result:

Traceback:

[code]

Log:

[code]

## Related code:

https://github.com/snowflakedb/snowflake-connector-python/blob/a14ed5776f25fcca9fa13853bbdb171b4f146

[2021-10-19 01:22] arkadiyt commented on #663
We're also running into this issue - would be really great for the native okta authentication to support MFA

[2021-10-19 15:12] chetansurwade opened #912 "SNOW-488688: fetch_pandas_all() raises error in pyinstaller executable"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Replace with the output of `Python 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)]`

2. What operating system and processor architecture are you using?

   Replace with the output of `Windows-10-10.0.19041-SP0`

3. What are the component versions in the e

[2021-10-28 00:42] #900 closed, assigned to sfc-gh-jbahk

[2021-10-29 00:25] timgraham opened #922 "SNOW-499499: Violating NOT NULL constraint should raise IntegrityError instead of ProgrammingError"
Trying to save a NULL in a NOT NULL column raises `ProgrammingError`:
[code]
It would be consistent with other database drivers to instead raise `IntegrityError`. Some tests in Django's test suite fail because of this difference.

[2021-10-29 08:37] howardsandford opened #923 "SNOW-499491: Cryptography dependancy is pinned at too low a version"
## What is the current behavior?
snowflake-connector-python has pinned cryptography to version <4.0.0 and >=3.1.0

## What is the desired behavior?
Cryptography has changed it's versioning scheme, and is now on version 35.0.0
Don't limit the version to 4.0.0 in snowflake-connector-python

## How would this improve `snowflake-connector-python`?

## References, Other Background
https://cryptography.

[2021-10-29 16:47] frankduan68 opened #924 "SNOW-499492: Cannot write Snowflake table"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
3.8.10
2. What operating system and processor architecture are you using?
Windows 7
3. What are the component versions in the environment (`pip freeze`)?
pip
4. What did you do?

I got no errors from my code running

5. What did you expect to see?
new records get inserted

And my code FYI:

[2021-10-29 23:33] timgraham opened #926 "SNOW-499493: Some interval math off by one microsecond for years beyond ~2250"
Python 3.9.5, Linux, snowflake-connector-python==2.6.2
[code]
I thought this may be an issue in Snowflake itself, but app.snowflake.com gives correct results.

I stepped through the code to see that [`ArrowConverterContext.TIMESTAMP_LTZ_to_python()`](https://github.com/snowflakedb/snowflake-connector-python/blob/c9aa4f1f82d71db145ec4a435f5ffc6113f35c34/src/snowflake/connector/arrow_context.py#L85-

[2021-11-02 09:08] tekumara opened #928 "Don't log password in ALTER or CREATE USER queries"
## What is the current behavior?

When logging is enabled, the logs echo a user's password when it is set:
[code]

To replicate:

[code]

## What is the desired behavior?

Masking of passwords when ALTER or CREATE USER queries contain a password.

## How would this improve `snowflake-connector-python`?

Make it more secure

## References, Other Background

[2021-11-02 11:15] tekumara commented on #928
To fix this, use [server-side binding](https://docs.snowflake.com/en/user-guide/python-connector-example.html#qmark-or-numeric-binding) to avoid the bound values being logged:
[code]

[2021-11-02 11:15] #928 closed

[2021-11-03 15:38] davidemerritt opened #933 "SNOW-499494: network timeout not respected during snowflake outage"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

`python 3.7.12`

2. What operating system and processor architecture are you using?

`Linux-5.10.47-linuxkit-x86_64-with-Ubuntu-18.04-bionic`

3. What are the component versions in the environment (`pip freeze`)?

`snowflake-connector-python==2.7.0`

4. What did you do?

We have a default

[2021-11-04 01:15] timgraham opened #936 "SNOW-499495: Add an attribute with the cursor's last executed query"
Django's `DatabaseOperations.last_executed_query()` returns the last executed query for a given cursor. While sqlite3 don't provide a way to get the SQL of the last query and thus [parameter escaping has to be done in Django](https://github.com/django/django/blob/25157033e979c134d455d46995a6db0838457d98/django/db/backends/sqlite3/operations.py#L135-L178), MySQL's drivers provides [Cursor._executed

[2021-11-04 09:52] annedegraafzipline commented on #384
Hi, have there been any updates on this issue? I'm running into a similar problem.

[2021-11-04 13:33] abudis commented on #513
@RomeoDespres you're a lifesaver! Thanks! :)

[2021-11-04 21:10] #513 closed

[2021-11-04 21:13] sfc-gh-mkeller commented on #384
@rparvat14 Would you be able to provide how you created this table with some sample data?

[2021-11-04 21:22] sfc-gh-mkeller commented on #936
@timgraham this is a good idea, would you be able to provide us with a PR since this issue is almost code complete.

I'd ask you to add type-hint to the initial definition and if you could add to one of our existing tests to verify correctness that'd be great!

[2021-11-05 23:46] timgraham opened #939 "SNOW-499496: Cursor.executemany() crashes if args is an iterator"
To reproduce:
[code]
The exception happens on a check (added in 27597cb7) which prevents using `executemany()` with empty args:
https://github.com/snowflakedb/snowflake-connector-python/blob/c37c0713ddf2eb66c7cf15eb38099040c73c0a0a/src/snowflake/connector/cursor.py#L988-L998

[code]
To match the behavior of the other database drivers that Django is tested with, `Cursor.executemany()` should instea

[2021-11-08 12:39] caseyclements opened #940 "SNOW-499497: Pandas version lower bound is set >= 1.0 but could be >=0.25.2"
## What is the current behavior?
In `setup.py` the constraint is defined `pandas>=1.0.0,<1.4.0`
## What is the desired behavior?
In communication with Irina Rubenchik and John Gallaro, I was informed that this package will work with `0.25.2` and higher.
## How would this improve `snowflake-connector-python`?
Allow users with pandas constraints.
## References, Other Background
This a one-line chang

[2021-11-08 18:20] timgraham opened #943 "SNOW-499498: Raise InterfaceError instead of DatabaseError when trying to execute against a closed cursor"
`Cursor.execute()` currently [raises `DatabaseError`](https://github.com/snowflakedb/snowflake-connector-python/blob/c37c0713ddf2eb66c7cf15eb38099040c73c0a0a/src/snowflake/connector/cursor.py#L617-L623) when the cursor is closed. Among the database drivers Django supports, sqlite3 and mysqlclient raise `ProgrammingError`, while psycopg2 and cx_Oracle raise `InterfaceError`. Based on the below defi

[2021-11-09 06:05] sfc-gh-mkeller opened #947 "SNOW-499490: SNOW-499489: test"
test

[2021-11-09 06:06] sfc-gh-mkeller commented on #947
recreate jira

[2021-11-09 06:07] #947 closed

[2021-11-09 06:07] sfc-gh-mkeller commented on #923
recreate jira

[2021-11-09 06:07] sfc-gh-mkeller commented on #924
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #926
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #933
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #936
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #939
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #940
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #943
recreate jira

[2021-11-09 06:08] sfc-gh-mkeller commented on #922
recreate jira

[2021-11-09 17:45] #896 closed

[2021-11-09 23:45] #909 closed

[2021-11-10 00:00] olegkapustin commented on #909
@sfc-gh-mkeller, Thank you for the fix. Do you have any idea when it will be available via pip?

[2021-11-10 00:03] sfc-gh-mkeller commented on #909
It should be released in a couple of weeks. That's when our next planned release is

[2021-11-10 01:15] sfc-gh-mkeller opened #951 "SNOW-499904: SNOW-499903: test"
test

[2021-11-10 01:16] sfc-gh-mkeller commented on #951
test2

[2021-11-10 01:29] #951 closed

[2021-11-10 01:29] sfc-gh-mkeller opened #953 "SNOW-499915: test"
test

[2021-11-10 01:30] sfc-gh-mkeller commented on #953
don't make another Jira

[2021-11-10 01:30] #953 closed

[2021-11-10 13:59] HarryVeilleux opened #954 "SNOW-500137: Python 3.10 Support"
## What is the current behavior?
Cannot install snowflake-connector-python when Python version = 3.10.0

## What is the desired behavior?
Make snowflake-connector-python installable when Python version = 3.10.0

## How would this improve `snowflake-connector-python`?
I would be able to use snowflake-connector-python in scripts developed using new functionality in Python version 3.10.0

## Referenc

[2021-11-10 14:05] #954 closed

[2021-11-10 18:59] scottabarnes opened #956 "SNOW-500219: Unique index for dataframes created from fetch_pandas_all()"
## What is the current behavior?
Loaded data from a `cur.execute()` statement into a pandas dataframe using `fetch_pandas_all()`
[code]

The indexes in the dataframe were not unique, so the below fails
[code]
There is not an equal distribution of indexes, i.e. some appear more frequently than others.

## What is the desired behavior?
Expected the index to be a unique integer starting at 0, as is i

[2021-11-10 19:06] awm33 commented on #38
+1 This is pretty critical for us, our entire backend is python asyncio

Looking at writing a threading based async/await wrapper similar to https://github.com/aio-libs/aioodbc

[2021-11-11 04:38] sfc-gh-jbahk commented on #563
@petehanssens can you provide the function definition of execute_snowflake_query?
@pavan-intellify information on how you're calling the function would also provide some insight into this.

[2021-11-11 17:13] lermana opened #958 "SNOW-500750: pyarrow 6.0 results in version conflict"
`snowflake.connector` forces the following constraint: `pyarrow<5.1.0,>=5.0.0`... this is a major version behind in a key library -- would it be possible to support `pyarrow==6.*`? thank you!

[2021-11-12 00:04] #303 closed

[2021-11-12 01:38] timgraham opened #961 "SNOW-501058: Cursor.execute() fails to interpolate SQL when params=()"
With psycopg2 and PostgreSQL:
[code]
With snowflake-connector-python and Snowflake:
[code]
The expected result of the second query is `'%s'` as with PostgreSQL.

This comes from [a Django test](https://github.com/django/django/blob/05cde4764da022ae80e9d7d97ef67c30e896c607/tests/queries/tests.py#L1651-L1664).

[2021-11-15 15:12] manugarri commented on #686
@sfc-gh-madkins  any update on this?

[2021-11-15 17:44] sfc-gh-madkins commented on #686
@manugarri we are still talking internally the best way to support this. If you look at the current PR, it calls for defining the table type and if the table doesnt exist, create a new one.

[2021-11-15 21:27] sfc-gh-mmacintyre opened #969 "SNOW-502098: recreate jira"
recreate jira

_Originally posted by @sfc-gh-mmacintyre in https://github.com/snowflakedb/snowflake-connector-python/issues/968#issuecomment-969337190_

[2021-11-15 21:30] #969 closed

[2021-11-15 21:40] mbkupfer opened #970 "SNOW-502111: fetch_pandas_all returns ValueError: Found non-unique column index"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

  Python 3.8.10

2. What operating system and processor architecture are you using?

Linux-5.10.16.3-microsoft-standard-WSL2-x86_64-with-glibc2.29

3. What are the component versions in the environment (`pip freeze`)?

anyio==3.3.4
argon2-cffi==21.1.0
asn1crypto==1.4.0
astroid==2.8.0
attr

[2021-11-16 01:53] sfc-gh-mkeller commented on #939
I see what you mean @timgraham
Again, this would be a breaking change, so it'll need to be pre-announced. Let me also point out that I think your example will never work.
[code]
`executemany` doesn't have to support generators

[2021-11-16 02:01] sfc-gh-mkeller commented on #961
@timgraham could you link the part of https://www.python.org/dev/peps/pep-0249/ that explains this behavior?

[2021-11-16 02:06] #936 closed

[2021-11-16 02:21] timgraham commented on #961
I don't know that it's discussed in the PEP, but the proposed behavior seems more logical than the current behavior and is consistent with all the database drivers that Django is tested with (sqlite3, psycopg2, mysqlclient, cx_Oracle).

[2021-11-16 02:28] timgraham commented on #939
I tested the fix in my pull request and it solves the issue. The example is included as a regression test.

[2021-11-16 17:24] #907 closed

[2021-11-16 18:01] bheem123 commented on #319
I have another similar issue with pandas dataframe. I am reading from a CSV file and writing to a table in Snowflake.

Here is my code:

         pdDataFrame = pd.read_csv(upldFile, sep = delimiter)
         pdDataFrame.rename(columns={"Date": "CALL_DATE",
                            "Agent ID": "AGENT_ID"
                            },
                            inplace=True)

          pdDataFr

[2021-11-16 19:18] mbkupfer commented on #970
Ok, I can actually recreate the problem now that I understand it, see below.
[code]
Is there a way we can avoid an error being thrown as this is in fact valid sql. For instance, can we just delete duplicated columns and issue a warning that some columns were redundant and couldn't be handled by pyarrow?

[2021-11-17 00:29] malav-doshi commented on #686
+1 to the original request. I would like to be able to specify if I want to append data to the table, create/replace

[2021-11-17 19:55] #958 closed

[2021-11-17 20:02] lermana commented on #958
Thank you!

[2021-11-22 19:26] p5k6 opened #985 "SNOW-507469: Can a release be cut to include #965 ?"
## What is the current behavior?
On MacOS, fresh install - I attempted to run `brew install apache-arrow` and `pip install snowflake-connector-python`. The former worked, installing version Arrow version 6.0; The latter failed, as `snowflake-connector-python` is still pinned to 5.0 => 5.1 in version 2.7.1, and happens to make a call to a (formerly deprecated, now removed) api. Installing from the

[2021-11-23 04:11] richiejthomas opened #986 "SNOW-507597: Not supported error on Apple M1"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.9.1

2. What operating system and processor architecture are you using?

  macOS-12.0.1-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

asn1crypto==1.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
cryptography==3.4.8
idna=

[2021-11-23 11:26] shaik-abdulhaffeez opened #987 "SNOW-507674: v2.7.1 - Blocked queries are now be considered to be still running- Not working as expected"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Replace with the output of `3.6.13`

2. What operating system and processor architecture are you using?

   Replace with the output of `Linux-4.14.238-125.422.amzn1.x86_64-x86_64-with-debian-10.10`

3. What are the component versions in the environment (`pip freeze`)?

   Replace with

[2021-11-23 19:43] sfc-gh-mkeller commented on #987
Hi @shaik-abdulhaffeez
Thank you for your bug report, you're right If we consider `BLOCKED` to be still running then it shouldn't count as an error
CC @sfc-gh-jbahk

[2021-11-23 22:51] sfc-gh-mkeller commented on #970
While the SQL is valid, it looks like `pyarrow.Table.to_pandas` doesn't support duplicate column names on purpose.
You could name the columns different names in your SQL.

I'd be against issuing warnings and de-duping columns, as this could lead to some users losing information (unknowingly, if they have warnings disabled).

[2021-11-24 10:52] shaik-abdulhaffeez commented on #987
What should the next step be?, shall we expect any hot fix and release.

[2021-11-24 17:03] mbkupfer commented on #970
The user wouldn't loose any information in that case; it would just throw a runtime error and fail.

What about enhancing the error so that there is more context? i.e catching `ValueError: Found non-unique column index
` and then providing the offending columns. Otherwise, it's hard to tell that something innocuous as a duplicate column name is the reason for the pyarrow stack trace.

[2021-11-25 16:05] jerry-git opened #991 "SNOW-510552: PEP 561 support, missing py.typed"
Is there some reason why the package doesn't contain _py.typed_ file (see [PEP 561](https://www.python.org/dev/peps/pep-0561/)) although there seems to be type hints in use in the source code?

For example, if I run `mypy` over this
[code]

It results in
[code]

If I add a _py.typed_ file into the root of the `connector` package, `mypy` can infer the proper type.

[2021-11-28 00:56] timgraham opened #992 "SNOW-511739: Implement Cursor.callproc()"
Since the initial public commit, `Cursor.callproc()` raises `NotSupportedError`:
https://github.com/snowflakedb/snowflake-connector-python/blob/f963b1abfe7f365b7f84f5053def7ed70e5bd2a4/src/snowflake/connector/cursor.py#L367-L378
This could be implemented similar to [mysqlclient's version](https://github.com/PyMySQL/mysqlclient/blob/5340191feb16b1f99a7b43fe7c74a2f690138cb1/MySQLdb/cursors.py#L270-L

[2021-11-30 22:08] sfc-gh-mkeller commented on #991
Thanks for bringing this to our attention, let's make this happen!

[2021-12-01 18:42] #987 closed

[2021-12-01 23:47] sfc-gh-mkeller commented on #961
So #962 was a behavior change that after giving more thought to we cannot release this change without an announcement. In #997 I'm introducing a connection parameter to switch between behaviors.
I'm going to re-open this issue until we complete the behavior change!

[2021-12-02 22:13] sfc-gh-hchaturvedi commented on #986
Hey @richiejthomas, we are starting to look into what will be needed to support M1 and will provide an update once we have completed our analysis.

[2021-12-02 22:18] sfc-gh-hchaturvedi commented on #985
Hey @p5k6, if I understand correctly you're asking that we release a new version with this fix? If I got that right, we have a release coming up mid December which should have this change. Please stay tuned, thanks for your patience!

[2021-12-02 22:28] sfc-gh-hchaturvedi commented on #923
@howardsandford based on the changelog the newer versions seem to be backwards incompatible. Thanks for bringing this up, we will run some tests internally and make changes accordingly. Thank you for your patience!

[2021-12-05 22:55] thomasaarholt commented on #986
@sfc-gh-hchaturvedi I successfully just installed and ran dbt-snowflake on an M1 Macbook Pro using latest snowflake-connector-python master branch. There the pyarrow dependency is no longer a problem (current published latest version has a dependency issue with pyarrow 5).

Could I ask the snowflake team to please publish a patch version from latest master (remember to bump the versio number :) )?

[2021-12-07 22:56] sfc-gh-jbahk commented on #384
@rparvat14 could you provide some examples as to how you reproduced this? If not, I'm happy to close this for you to reopen later if it happens again.

[2021-12-08 17:23] sodul commented on #985
Adding our 2 cents here. We want to upgrade to Python 3.10 but cannot until the next release of the connector.
We use macOS 11 and 12, and install python through pyenv. Things are ok with Python 3.9.

[2021-12-08 20:40] #384 closed

[2021-12-08 21:08] sfc-gh-jbahk commented on #985
@sodul we are aiming to add 3.10 support with our next release

[2021-12-09 08:57] ds-kosaka opened #1000 "pd_writer didn't working"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
python3.7

2. What operating system and processor architecture are you using?
debian10
jupyter notebook

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

I want to use [python connecter](https://docs.snowflake.com/en/user-guide/python-conn

[2021-12-09 21:12] sfc-gh-jbahk commented on #563
I will mark this as closed as I am unable to reproduce. Please re-open if need be with more details of the query.

[2021-12-09 21:49] sfc-gh-sbommakanty commented on #1000
@ds-kosaka - can you share or post a sample of a DataFrame where this issue occurs, would be good to understand what the column types in the DataFrame are. Thanks.

[2021-12-10 04:23] franciscojavierarceo commented on #686
+1 as table creation is a very useful and common pattern to pass as a parameter argument.

[2021-12-10 12:02] ds-kosaka commented on #1000
@sfc-gh-sbommakanty

Thanks.
Please check

![image](https://user-images.githubusercontent.com/82930808/145569347-9dd0614c-cc63-4df4-bebe-6bbdb67e0292.png)

![image](https://user-images.githubusercontent.com/82930808/145569381-805768d8-af20-4a0d-844a-5f692ff6bee3.png)
[211210_isert_bq_list_0.csv](https://github.com/snowflakedb/snowflake-connector-python/files/7692442/211210_isert_bq_list_0.csv)
[21

[2021-12-14 03:08] bcikili commented on #600
I came across the same problem, i ve solved it by converting npdatetime64 to object:
output['SUBMODEL_VALUE_DATE'] =output['SUBMODEL_VALUE_DATE'].dt.strftime("%Y-%m-%d")

[2021-12-14 03:10] bcikili commented on #319
In my case, date columns looked fine in python but appeared as miliseconds in Snowflake, i ve solved it by converting np.datetime64 to object:
output['SUBMODEL_VALUE_DATE'] =output['SUBMODEL_VALUE_DATE'].dt.strftime("%Y-%m-%d")

[2021-12-14 07:30] BALADEV-1234 opened #1004 "Pyarrow Unknown error"
Hi Team,
Thank you for the amazing library. I was trying to create a flask service in python using the snowflake connector. But when I am trying to test I am getting a issue as  below. Please Help. I am using python 3.9.
list(extension_columns.keys()))
  File "pyarrow\table.pxi", line 1117, in pyarrow.lib.table_to_blocks
  File "pyarrow\error.pxi", line 116, in pyarrow.lib.check_status
pyarrow.lib

[2021-12-14 19:11] sfc-gh-jbahk commented on #1004
Hi @BALADEV-1234, can you raise a ticket with our support team? It's nearly impossible to go off of the information you provided. Logs, the specs of your environment, etc are all important information needed to diagnose such an issue.

[2021-12-14 20:25] sfc-gh-jbahk commented on #940
Hello, given our current and future dependencies and builds, we've decided not to move forward with this.

[2021-12-14 20:25] #940 closed

[2021-12-16 00:20] krutisfood commented on #563
@sfc-gh-jbahk
[code]

[2021-12-16 12:22] zevaverbach commented on #575
Since I just found my way back here via a Google search, I'm going to explicitly add the solution here.

Instead of using

[code]

[2021-12-16 12:57] petehanssens commented on #563
Hi @sfc-gh-jbahk can you re-open this ticket and look at the above please?

[2021-12-16 21:52] sfc-gh-jbahk commented on #985
Hello, the newest release is available. Thank you.

[2021-12-16 21:52] #985 closed

[2021-12-17 00:21] sfc-gh-jbahk commented on #563
@petehanssens can you provide the query itself? The query ID?

[2021-12-17 23:33] eddyojb88 commented on #896
I am using Python 3.7 and am using the requirements as[ laid out here.](https://github.com/snowflakedb/snowflake-connector-python/blob/master/tested_requirements/requirements_37.reqs)

[code]

This makes no sense.

[2021-12-20 15:51] bpmcd commented on #799
Instead of the linked workaround above (installing Homebrew via Rosetta), I customized a docker image based on this image https://hub.docker.com/r/xemuliam/dbt. Docker Desktop now natively supports M1 architectures, and this image can build arm64 containers.

[2021-12-20 17:42] sfc-gh-mkeller commented on #896
@eddyojb88 would you be able to post the full output?
This by itself seems fine to me as `2.3.0` is in `<3.0.0`

[2021-12-20 18:46] sfc-gh-mkeller commented on #991
It looks like the PR I submitted only included `py.typed` in our source distribution and not in wheels.
See https://github.com/snowflakedb/snowflake-connector-python/pull/996#issuecomment-998178675
Re-opening this ticket

[2021-12-20 19:40] allenhumphreys commented on #991
@sfc-gh-mkeller I think that `package_data` is relative the package root.

https://docs.python.org/3/distutils/setupscript.html#installing-package-data

So change `"src/snowflake/connector/py.typed", to `"py.typed",` and it should pick it up.

[2021-12-20 22:17] sfc-gh-mkeller commented on #991
Thank you for your input, what you said is right. Switching to `py.typed` included it in the wheel locally for me, but that means that the rest (`"*.md", "LICENSE.txt", "NOTICE"`) were incorrect, since these are not situated in the package root, but in the git repository's root.

I was previously planning to switch to use `include_package_data` and `MANIFEST.in` so that we wouldn't need to maintai

[2021-12-21 16:48] jordantshaw opened #1015 "SNOW-521252: Multiple statements per API Call"
## What is the current behavior?
Currently multiple SQL statements are not supported for a single API call. If multiple SQL statements are included in a single call, the following error is thrown.

`Snowflake.connector.errors.ProgrammingError: Multiple SQL statements in a single API call are not supported; use one API call per statement instead.`

## What is the desired behavior?
Support multiple

[2021-12-21 23:12] bchatterjee commented on #397
Do we really need pandas, dask etc in the method names? Can the name of these methods be more friendly? Example, I know my object is panda or dask. So, I can I just refer them as fetch_batches, fetch_all etc? I'm just curious..

[2021-12-22 00:05] sfc-gh-mkeller commented on #397
@bchatterjee Of course it would be possible, however:
1. There has to be a clear positive outcome for changing already existing behavior.
2. Some result types can be fetched into multiple objects. For example you can fetch arrow results into Arrow Tables, Python objects in tuples and Pandas DataFrames too. How would you handle this case?

Feel free to open an issue with your design idea, we can di

[2021-12-22 04:21] onerishabh commented on #970
Hi,

Is there anyone working on this issue? I would like to further discuss on this and contribute too.

[2021-12-22 06:06] bchatterjee commented on #397
thanks @sfc-gh-mkeller. what's your thoughts on naming something like this fetch_all().to_pandas_df(), or fetch_all().as_pandas_df(), or something similar like this. that way, we know fetch_all() fetching whatever domain object and then its getting explicitly converted to target object. I'm thinking if we can keep the utility methods close to object's responsibilities and use conversational method

[2021-12-22 14:33] allenhumphreys commented on #991
@sfc-gh-mkeller I think you're good to go based on a very similar set of changes in the Azure Python SDK https://github.com/Azure/azure-sdk-for-python/pull/18327/files

[2021-12-22 18:10] #991 closed

[2021-12-23 08:36] BALADEV-1234 commented on #1004
Hi,  @sfc-gh-jbahk  thanks. I am using python version 3.7.3 and jupyter IDE. Here is the screen sort of the issue I am getting
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/72731231/147212405-35a71a99-2143-4e2f-8404-1852425c87ab.png)

[2021-12-23 08:37] BALADEV-1234 commented on #1004
Hi, @sfc-gh-jbahk thanks. I am using python version 3.7.3 and jupyter IDE. Here is the screen sort of the issue I am gettin
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/72731231/147212573-c3e3a9ca-5133-408d-8902-63c128802de5.png)
g

[2021-12-27 17:08] mosqueteiro commented on #865
I was able to resolve the issue with the Snowflake support team. For `HTTPS_PROXY` changing the address prefix _https_ to _http_ resolved the issue.

Hopefully, defining the proxy at the connection level will come back as I believe there are advantages to keeping this functionality but as far as this issue is concerned I believe it is resolved.

[2021-12-27 17:08] #865 closed

[2021-12-30 14:34] dapollak commented on #38
any updates ?

[2022-01-04 18:51] kchojn commented on #38
Hey,
I'm from the future 👾, we live on Mars, ETH is the main currency, we resurrected dinosaurs. But there is still no support for the async SF connector...

Any updates?  👀

[2022-01-04 19:10] awm33 commented on #38
What we did in our codebase ([https://aquifer.cloud](https://aquifer.cloud))). It's not as nice as native support but [aioodbc](https://github.com/aio-libs/aioodbc) does essentially the same thing, and could get some people over this hump.

[code]

[2022-01-04 19:33] liorchen commented on #38
@awm33 unless I'm missing something, this will have no impact on performance comparing to the snowflake official version.
that's because the underlaying snowflake driver is still using python native sockets which is blocking the thread it is executed on.

[2022-01-04 19:42] awm33 commented on #38
@liorchen It's using the threaded executor to keep it from blocking. aioodbc and motor (asyncio mongodb client) use the same approach https://github.com/aio-libs/aioodbc/blob/master/aioodbc/connection.py#L78

[2022-01-04 21:36] devin-hc commented on #890
@sfc-gh-hchaturvedi @sfc-gh-jbahk

Hi! Any movement on this?

Right now, it's blocking updating to pandas-supporting snowflake-connector-python and seems like it would impact many users.

Thanks for any info.

[2022-01-05 16:05] dapollak opened #1018 "SNOW-523131: Possible memory leak in SnowflakeConnection"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   `3.8.5`

2. What operating system and processor architecture are you using?

   `macOS-10.16-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip freeze`)?

[code]

Hey
I have a flask server, which communicates Snowflake database through sqlalchemy & snowflak

[2022-01-05 19:30] sfc-gh-mkeller commented on #1018
Hi @dapollak
If I recall how `close` and the different classes work then I do think that this is a bug.
Why doesn't Python's garbage collector not find the circular references though?

[2022-01-05 21:10] dapollak commented on #1018
@sfc-gh-mkeller, thanks for the quick response !

As I understand, the gc doesn't release objects involved in a circular referencing if they have `__del__` method.

[2022-01-09 12:10] ashish-gupta1-by commented on #38
I am assuming by python not having proper approach to achieve true async programing with python snowflake driver. I can't see any performance improvments

[2022-01-11 22:35] kzecchini commented on #986
@sfc-gh-hchaturvedi I'm also facing this issue - just wondering if there is any progress on this?

[2022-01-12 20:00] #890 closed

[2022-01-13 15:26] mihasajko commented on #799
In case it helps anyone, after many unsuccessful attempts, what worked for me was bumping python version to 3.10.

[2022-01-13 19:40] sfc-gh-mkeller commented on #1015
Let's review this ticket and prioritize it @sfc-gh-hkapre

[2022-01-13 19:43] sfc-gh-mkeller commented on #1004
@BALADEV-1234 would you able to provide a reproducer script, please?

[2022-01-13 23:47] sfc-gh-jbahk commented on #674
Hi @amiteshQA, I'm trying to reproduce this but am unable to do so. Do you have an associated query ID? Has this been resolved?

[2022-01-14 19:42] sfc-gh-mkeller commented on #1018
@dapollak I tried reproducing your issue, on top of `master` I applied this small patch that adds freeing print lines:

[code]

Then I ran the following script:
[code]

In this case [gc.collect](https://docs.python.org/3.6/library/gc.html#gc.collect) correctly finds all 3 objects and frees them all.
Is it possible that you've disabled reference cycle detection? I'll try to dig deeper into this in

[2022-01-14 21:49] sfc-gh-mkeller commented on #1018
From what I could find, this used to be true but isn't since [PEP-442](https://www.python.org/dev/peps/pep-0442/)

[2022-01-16 07:49] dapollak commented on #1018
@sfc-gh-mkeller I see.
Another thing I noticed that may prevent the Connection object from being release is the `HeartBeatTimer`.
in `SnowflakeConnection`, you create timer (inside `self._add_heartbeat`) which its thread is a method of `SnowflakeConnection`:
[code]

If the timer isn't close properly, the reference to `self._heartbeat_tick` will prevent the gc of releasing the connection.

In `Hear

[2022-01-18 21:52] sfc-gh-mkeller commented on #1018
Okay, that's it. The following script reproduces the issue:
[code]
I'm going to fix this issue

[2022-01-18 22:51] sfc-gh-jbahk commented on #563
@petehanssens @krutisfood please get back to me with the above asks for me to proceed; I am unable to reproduce the issue. On another note, a fix that deals with something similar has been merged some time ago so I suggest upgrading the driver as well. Thanks.

[2022-01-19 18:28] #686 closed

[2022-01-19 20:23] sfc-gh-mkeller commented on #1018
@dapollak could you please see if [`98eb923` (#1031)](https://github.com/snowflakedb/snowflake-connector-python/pull/1031/commits/98eb9236102ece745d7bb648ef091d06be57300f) fixes your issue, it fixes my reproducer script so hopefully it'll work for you as well

[2022-01-20 20:48] sfc-gh-jbahk commented on #674
Closing this for now as I'm unable to reproduce - please file a support ticket with diagnostic information like the query ID, especially if it's intermittent. Thank you.

[2022-01-20 20:48] #674 closed

[2022-01-21 10:12] dapollak commented on #1018
@sfc-gh-mkeller fixes for me either. Good job !

[2022-01-21 15:54] psukys opened #1034 "SNOW-534004: write_pandas does not use schema provided"
1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

Use `write_pandas` for data insertion:
[code]

 Error message received:
[code]

5. What did you expect to see?

   Data inserted into table

6. Can you set logging to DEBUG a

[2022-01-21 16:12] psukys commented on #1034
proposed changes are limited to my use of `schema` argument (in docs it's stated that it is optional)
https://github.com/Vaultspeed/snowflake-connector-python/commit/edd30ca07aa3356033cd73fa2ac266d14850836a

[2022-01-21 19:54] #1018 closed

[2022-01-22 18:29] hajapy opened #1035 "SNOW-534389: pypi source distribution for v2.7.3 is different than github source"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   n/a

2. What operating system and processor architecture are you using?

   n/a

3. What are the component versions in the environment (`pip freeze`)?

   n/a

4. What did you do?

   While investigating a build failure for the conda-package here: https://github.com/conda-forge/snowfla

[2022-01-25 01:31] dnarain-astro opened #1037 "SNOW-535137: Document how to do privatelink connectivity"
## What is the current behavior?
The documentation does not make any mention about connecting in a Privatelink setup.   Since the host parameter is deprecated; connect() proceeds to construct the hostname using other parameters.  The end result is the public hostname, which does not work in a privatelink environment.

## What is the desired behavior?
Add documentation to explain that if you're in

[2022-01-26 17:37] ndamclean opened #1038 "SNOW-535785: import geopandas then connecting to snowflake causes crash in macosx"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
[code]

2. What operating system and processor architecture are you using?
[code]

3. What are the component versions in the environment (`pip freeze`)?
[code]

4. What did you do?

[code]

5. What did you expect to see?

    I expected the code to exit gracefully and not crash with a `mal

[2022-01-26 23:12] sfc-gh-mkeller commented on #1035
Interestingly, when the sdist locally this still happens without any changes done by me. I wonder if this is because of `setuptools`.

[2022-01-27 00:28] sfc-gh-mkeller commented on #1035
This seems to be done here https://github.com/pypa/setuptools/blob/1a1397a4ef0327ba09ddd4a3d0916af48d3be7ec/setuptools/command/setopt.py#L73
[ConfigParser](https://docs.python.org/3/library/configparser.html#configparser.ConfigParser) seems to write tabs instead of spaces and it also doesn't preserve the input's formatting.
Maybe we should ask `setuptools` to make this configurable?

[2022-01-27 01:09] hajapy commented on #1035
Ah interesting. Well a couple other solutions come to mind:

1. revert using setup.cfg for the install_requires, setup.py doesn't get rewritten
2. use tabs within install_requires
3. request a fix to setuptools/ConfigParser so this can be configurable

I'm not sure how prevalent defining the requirements in setup.cfg is, I haven't encountered this in maintaining packages for cobra-forge yet, so my

[2022-01-27 19:38] sfc-gh-mkeller opened #1040 "SNOW-536231: test"
test

[2022-01-27 19:39] sfc-gh-mkeller commented on #1040
recreate jira

[2022-01-27 19:40] #1040 closed

[2022-01-30 03:22] #922 closed

[2022-01-31 20:28] #939 closed

[2022-01-31 22:33] #943 closed

[2022-02-02 05:13] tekumara opened #1046 "SNOW-539182: "SnowflakeConnection" is not exported from module "snowflake.connector.connector""
The following snippet:
[code]

Generates this error in vscode and pyright:
[code]
A similar error is generated in mypy strict mode.

vscode/pyright/mypy strict mode considers the `SnowflakeConnection` symbol private because it is not exported from `__all__` or imported using a redundant module alias.

More info:
- [pyright export rules](https://github.com/microsoft/pyright/blob/main/docs/typed-lib

[2022-02-02 16:57] woropajj commented on #165
Noob question but where and how can I set this option?

[2022-02-02 23:59] sfc-gh-jbahk commented on #926
Hi @timgraham, I have PR out for this: https://github.com/snowflakedb/snowflake-connector-python/pull/1030. It fails because of a new test I wrote (test_time_interval_microsecond) on GitHub, but it works fine locally for myself. Would you mind pulling the branch and letting me know if this fixes your issue? The root cause is because the level of precision you requested (up to an atomic microsecond

[2022-02-03 17:58] kumar-sf commented on #563
I am also hitting similar error. Here's the trace back. I have tried using latest python snowflake connector and still got same failure message. The table from query is pulling data contains ~900 rows. Could this be checked ?

Traceback (most recent call last):
  File "c:\folders\schemachange-master\schemachange\cli.py", line 759, in <module>
    main()
  File "c:\folders\schemachange-master\schem

[2022-02-03 19:16] kumar-sf commented on #563
@sfc-gh-jbahk, Looks like the issue reported is not fixed yet. could this issue be re-opened ?

[2022-02-03 19:21] sfc-gh-jbahk commented on #563
Re-opened. I'm happy to look into this but I generally need more information than just the error statement, especially if there's no clear and consistently method of reproduction. Thanks all for your patience.

[2022-02-03 19:27] kumar-sf commented on #563
Let me know what info you may require.

[2022-02-04 22:39] xhochy commented on #1038
Do you also have pyarrow installed? Which version?

[2022-02-04 22:42] ndamclean commented on #1038
@xhochy yes. The pyarrow is version `6.0.1`

[2022-02-06 19:44] jkinkead opened #1056 "SNOW-540987: String serialization of Python datetime instances breaks comparisons"
This is present in `snowflake-connector-python==2.7.2`.

The Snowflake connector [serializes all datetimes as plain strings](https://github.com/snowflakedb/snowflake-connector-python/blob/fedaa37fd1c39ad2884de78575377405675fb6fd/src/snowflake/connector/converter.py#L483-L552), which are then [quoted](https://github.com/snowflakedb/snowflake-connector-python/blob/fedaa37fd1c39ad2884de78575377405675

[2022-02-09 17:38] jkinkead commented on #1056
Also worth pointing out that this seems to only affect the default `paramstyle` on the connection (Python formatting; either `"pyformat"` or `"format"`). For other parameter styles, the params are POSTed to the Snowflake server instead of being injected into the query string.

A better fix might be to replace the client-side parameter formatting with formatting that injects `?` literals and POSTs

[2022-02-10 00:48] jacksonrnewhouse opened #1061 "SNOW-542421: Parallel Fetch with fetch_pandas_all results in duplicate index values."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.7.5 (default, Dec  9 2021, 17:04:37)
[GCC 8.4.0]

2. What operating system and processor architecture are you using?

Linux-5.4.117-58.216.amzn2.x86_64-x86_64-with-Ubuntu-18.04-bionic

3. What are the component versions in the environment (`pip freeze`)?

Package

[2022-02-14 22:41] njriasan opened #1063 "SNOW-544060: Expose a write_arrow API to support writing Arrow Format directly to Snowflake"
## What is the current behavior?

From what I could gauge using the documentation, it is possible to write to Snowflake from Pandas using the `write_dataframe` API. This can be useful for situations where my data is already in Pandas, but if my data is in another format (i.e. Arrow) then I have to convert the data from Arrow format to Pandas format before writing (and I suspect this process conver

[2022-02-15 02:30] smtakeda commented on #10
@TheBitFish sorry but I no longer work for the drivers... Can you please communicate with Snowflake support? Thanks!

[2022-02-16 11:42] thomasaarholt opened #1064 "SNOW-544967: URL should be printed in terminal during browser authentication"
## What is the current behavior?
During browser authentication with my identifty provider, there is sometimes no browser window. I have no option but to rerun the dbt run, which can take time.

## What is the desired behavior?
Show the URL so the user can click it during the run.

[2022-02-17 03:09] hjvouch commented on #295
I am facing this issue on the following Windows setup

Python - 3.9.7
Pandas - 1.2.5
Pyarrow - 6.0.1
Snowflake Connector - 2.7.4

[2022-02-17 03:24] zhangchi1 commented on #600
Thanks @bcikili! stringfy the datetime column works for me. Better to use`strftime('%Y-%m-%d %H:%M:%S')`, in case you're using `datetime`, vs `date`?

[2022-02-22 15:22] sfc-gh-dseweryn commented on #986
It seems that version 2.7.4 supports M1

[2022-02-22 17:00] kzecchini commented on #986
I upgraded to 2.7.4 (`snowflake-connector-python==2.7.4`, `pyarrow==6.0.1`) and I am still getting the same error:
[code]

When I tried to force the use of the `arrow_iterator` module (setting `CAN_USE_ARROW_RESULT_FORMAT` to true), I see the following:
[code]

To me it still looks like the `arrow_iterator` is incompatible with M1 architecture...

Is there anything I need to change/install/reinsta

[2022-02-22 17:09] sfc-gh-dseweryn commented on #986
I don't see pyarrow==6.0.1 anywhere in the requirements/dependencies of snowflake-connector-python nor in the `pip list` so I cannot tell

[2022-02-22 17:13] kzecchini commented on #986
So I tried uninstalling and installing the snowflake connector via pip but that didn't work.

Instead I decided to build from source. I followed the instructions in the readme to build the wheel from the repo and it works perfectly now.

My guess is that the PyPI distribution is not built for ARM? I'm not entirely sure what exactly is uploaded to PyPI.

[2022-02-22 21:10] kzecchini commented on #986
Also wanted to add that installing via:
[code]
also works for M1 instead of the PyPI install.

[2022-02-23 11:01] sfc-gh-dseweryn commented on #986
I first installed via pip from the main branch. Then I uninstalled and installed 2.7.3 and 2.7.4 and it worked just fine for me. Unfortunately I am not too familiar with python toolchain to be sure if I by chance have different dependencies after I installed from main.

[2022-02-23 15:12] kzecchini commented on #986
@sfc-gh-dseweryn are you installing via PyPI? Or building the wheel from source?

[2022-02-23 15:34] thomasaarholt commented on #986
A couple of clarifications: If you're trying to install _in Docker on an M1 Mac_, then you have different requirements than if you were installing on your M1 Mac. We've had trouble with a lot of packages after we began running our docker containers natively on Mac rather than emulating them via Rosetta. Many of those problems are being worked out. The snowflake connector still has some issues:

**

[2022-02-23 18:22] kzecchini commented on #986
@thomasaarholt So you have to put quotes around the package to install via zsh:
[code]
When I do this I have the pyarrow dependencies, but they don't appear to be built for ARM when you download from PyPI.

Also I have no problem running debian docker containers with `snowflake-connector-python==2.7.4` on M1 mac (using images with the build flag --platform=linux/amd64)

[2022-02-23 18:41] kzecchini commented on #986
@sfc-gh-dseweryn thanks for the clarification. From a new environment, If you try to install from PyPI with no cache `pip install --no-cache snowflake-connector-python[pandas]==2.7.4` - does it work for you?

I'm wondering if the first install from source is cached, and then the other subsequent installs are working from the locally cached wheel instead of going out to PyPI for the wheel.

Because

[2022-02-23 20:21] thomasaarholt commented on #986
@kzecchini god, that's an unfortunate need of quotes! Thanks for pointing that out!

I've noticed the M1 arm vs universal issue too. I know that pip will always prefer specific wheels over universal wheels if available. I notice the arm ones [are not available on pypi](https://pypi.org/project/snowflake-connector-python/#files).

If you force building the wheels, then it will work on M1 mac:
`pip

[2022-02-23 20:25] thomasaarholt commented on #986
I successfully run sql queries into pandas using the following dockerfile:

[code]

Where `script.py` contains the following snowflake sql query (replace your own variables)
[code]

[2022-02-23 21:06] kzecchini commented on #986
@thomasaarholt Thanks for the info! I just verified that adding the `--no-binary` works as well for me. I never used that before - thanks for pointing that out!

So it just seems like the solution for PyPI would be to get the ARM distribution uploaded so folks could easily install a prebuilt wheel that works on M1.

But the workaround for now is to either install from source, or to use the `--no-b

[2022-02-23 21:48] richiejthomas commented on #986
@thomasaarholt Thanks for the workaround using the --no-binary flag! That works perfectly.

[2022-02-24 14:07] thomasaarholt commented on #986
Annoyingly, the above will *not* build using google clouds docker using buildx to build multi-arch images (specifically building an arm image on x86_64). It fails with a qemu fatal error.

[2022-02-25 01:13] timgraham commented on #926
When I try to `pip install -e` my checkout of snowflake-connector-python so I can test your branch, I get the error `[Errno 2] No such file or directory: 'build/lib.linux-x86_64-3.9/snowflake/connector'"` following "running build_ext" during the "Running setup.py develop" step. Have you seen this before?

[2022-02-25 01:22] remisalmon opened #1067 "SNOW-552324: auto_create_table in write_pandas is not documented on docs.snowflake.com"
Not exactly a feature request but the (super convenient) option `auto_create_table` in `write_pandas` that was introduced in https://github.com/snowflakedb/snowflake-connector-python/pull/1020 and was released with v2.7.3 is not showing up in the doc at https://docs.snowflake.com/en/user-guide/python-connector-api.html#write_pandas.

[2022-02-25 15:43] timgraham commented on #926
I found that `pip install` (without `-e`) works. The patch seems to solve the problem. Thanks.

[2022-02-28 19:41] #1046 closed

[2022-03-01 14:06] MaximilianPavon commented on #1038
Any updates on this? Are you tackling this or is it planned? An update on this front would be much appreciated.

[2022-03-02 12:31] sfc-gh-jhunt opened #1069 "SNOW-554970: fetch_pandas_all does not respect date format set by DATE_OUTPUT_FORMAT session parameter"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.7 (running under Anaconda 4.11.0)

2. What operating system and processor architecture are you using?

macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

Output of conda list (I presume this is OK, as pip freeze in conda gives

[2022-03-02 22:17] sfc-gh-mkeller commented on #828
Sorry, it took me a while to get to this.
I now found the culprit, let me demonstrate:
[code]

What happens is that when you have a sub-query (I suspect this to be more complicated and it really depends on the available metadata at the time of query execution) Snowflake is unable to tell the maximum number in a row.

So it defaults to the type that could hold the maximum value. We allow up to 38 d

[2022-03-02 22:22] sfc-gh-mkeller commented on #865
For anyone that finds this issue after it was closed:

I've now completed a RCA and this issue is caused by: https://github.com/urllib3/urllib3/commit/691679f738ae098ce024aeae90cfdd8013b8e1e7

So installing `snowflake-connector-python>=2.4.6` will have the new behavior where `HTTPS_PROXY=https://...` will cause your proxy to not work, but previous versions will have no problem with this proxy sett

[2022-03-03 19:16] sfc-gh-mkeller commented on #956
This should have been fixed by https://github.com/snowflakedb/snowflake-connector-python/pull/1068

[2022-03-04 09:46] scottabarnes commented on #956
Great thank you! I will test on the next release

[2022-03-08 16:06] jonashaag commented on #828
I wonder why this doesn’t happen in the original query but only in the result scan. Is that because it is a sub query? Could the Snowflake backend be taught to use the original query’s metadata for the result scan query?

[2022-03-09 02:49] mallman opened #1071 "SNOW-557144: Please update dependency requirements on pandas to allow 1.4 releases"
Please update dependency requirements on pandas to allow 1.4 releases, cf https://github.com/snowflakedb/snowflake-connector-python/pull/1036.

[2022-03-09 02:49] mallman opened #1072 "SNOW-557145: Please update dependency requirements to allow pyarrow 7 releases"
Please update dependency requirements to allow pyarrow 7 releases, cf. https://github.com/snowflakedb/snowflake-connector-python/pull/1052.

[2022-03-09 02:58] YEM-1 opened #1073 "SNOW-557147: cannot import name 'SnowflakeOCSPAsn1Crypto' from partially initialized module 'snowflake.connector.ocsp_asn1crypto'"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.9.2

2. What operating system and processor architecture are you using?

   Windows-10-10.0.19041-SP0

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?
I'm using concurrent.futures.ThreadPoolExecutor(max_workers=15) to call an

[2022-03-10 16:40] jordantshaw commented on #1015
@sfc-gh-mkeller any updates on where this is on your priority, or when it might be added?

[2022-03-11 03:02] ma-pony commented on #1073
I have the same problem

[code]

[2022-03-11 23:07] sfc-gh-mkeller commented on #1061
This should have been fixed by #1068
Please reopen, if this is not the case

[2022-03-11 23:07] #1061 closed

[2022-03-14 11:12] bjoern-meier-by opened #1075 "SNOW-559254: blob store credentials not redacted when getting parquet batches from the Azure blob"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.10.2 (main, Jan 29 2022, 03:24:05) [GCC 8.3.0]

2. What operating system and processor architecture are you using?

   Linux-5.10.76-linuxkit-x86_64-with-glibc2.28

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

We use Azure

[2022-03-15 07:20] rchua-at-synagie commented on #575
Will this be handled in the future? Kind of unintuitive. Encountered this problem today too.

[2022-03-15 15:17] viktoria-ivan opened #1079 "SNOW-560024: Getting 'TypeError: '_is_internal' is an invalid keyword argument for this function' when trying to write a table"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.9.7

2. What operating system and processor architecture are you using?

   macOS-12.1-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

   appnope==0.1.2
argon2-cffi==21.1.0
asn1crypto==1.5.0
astor==0.8.1
attrs==21.2.0
autograd==1.3
aut

[2022-03-17 11:39] alonme commented on #956
seems like #1068 is part of the new 2.7.5 release

[2022-03-21 11:54] pmateosmasa1 commented on #295
@hjvouch I had the same issue and I downgraded the Pyarrow dependency to 6.0.0 and it works

[2022-03-21 17:37] sfc-gh-mkeller commented on #1079
`pyarrow` is the only one that's tightly coupled with our releases, but it looks like you already have the right version installed.

Could you please share a small reproduction script?

[2022-03-22 03:46] yuvrajsharma9981 commented on #986
Hi,

I was facing the same error (M1 mac), and this thread really helped me out. The suggestion of using `--non-binary` option with pip worked for me. So, Thank you so much for that @thomasaarholt.

However, during this, I discovered another issue, although after spending some time debugging it. I kinda find a solution for it, but I'm still not sure why that error was happening. I thought it would

[2022-03-24 14:17] salexln commented on #544
any update on this issue? we are facing the same problems and currently cannot use Arrow because of this

[2022-03-28 17:23] sfc-gh-mkeller commented on #1073
Are you importing the module through any special means?
How could the module be partially initialized if you are opening a connection already?

[2022-03-28 17:26] sfc-gh-mkeller commented on #544
Server-side binding for VARIANT and ARRAY is actively in the works. We didn't want to add support for retrieving them until binding them wasn't supported.

[2022-03-28 22:49] sfc-gh-mkeller commented on #1075
The issue for us is that DEBUG level logs sometimes need to have some sensitive information to help find root causes of issues.
It's important to know that the signature you found in the logs is not enough to access any files, there are encryption keys that are required in addition to the URL.

Here's how to turn these specific logs off for your logs:
[code]

[2022-03-28 22:49] #1075 closed

[2022-03-31 12:24] fxn opened #1085 "SNOW-567452: Support standard environment variables"
Libraries for MySQL, PostgreSQL, AWS, and others, honor standard environment variables. Think `MYSQL_HOST`, `PGUSER`, or `AWS_REGION`.

This is convenient, because if people have the environment set, code using these libraries does not need to duplicate these parameters and consider the combinations that make sense. Think authentication for example. You just do nothing and delegate to the library.

[2022-04-04 08:19] bjoern-meier-by commented on #1075
Thanks @sfc-gh-mkeller for the answer, this is good to know.

[2022-04-06 12:09] sahilpatel1027 commented on #1037
I've also hit this issue recently and am struggling to find the correct parameters for a privatelink account.
@dnarain-astro would you mind elaborating what we need to change? I've been told I need to add region as a parameter and tack on '.privatelink' after it.

[2022-04-06 13:23] sfc-gh-wfateem commented on #1037
@dnarain-astro @sahilpatel1027
Which documentation are you referring to here? Given that you're opening up this issue in the Snowflake Connector Python GitHub repo, I assume you're referring to the connector's documentation. In the link [here](https://docs.snowflake.com/en/user-guide/python-connector-example.html#connecting-to-snowflake) we say that for the account parameter you should use the acc

[2022-04-06 13:32] sfc-gh-wfateem commented on #1037
@sahilpatel1027 that's correct.

[2022-04-06 14:26] dnarain-astro commented on #1037
@sfc-gh-wfateem <https://github.com/sfc-gh-wfateem> - yes, you are correct.
I meant "add a note in the connector documentation that when you use
privatelink, you should use the privatelink-account-name (which is just
accountname.privatelink)"

On Wed, Apr 6, 2022 at 6:32 AM Waleed Fateem ***@***.***>
wrote:

[2022-04-06 20:13] sodul opened #1087 "snowflake-connector-python 2.7.6 requires pyOpenSSL<22.0.0"
1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

Have a requirement file that need the latest versions of the connector and pyopenssl, pip will flag a compatibility issue.

5. What did you expect to see?

The packages shoul

[2022-04-07 09:43] lukaszbienkowski-ttc opened #1089 "SNOW-571450: fetch_pandas_all() yields an unknown error. _query_result_format seems to != 'arrow'"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.9.5

2. What operating system and processor architecture are you using?

macOS-12.3-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

pyarrow==6.0.1
snowflake-connector-python==2.7.6
full requirements.txt attached
[req.txt](https://github.com/sno

[2022-04-07 14:09] sfc-gh-wfateem commented on #1037
Hi @dnarain-astro,

Thank you for your comment. From our perspective, that's redundant information. As I pointed out earlier, the documentation explains that you should use the `<account_identifier>` and that's defined as anything that precedes `.snowflakecomputing.com`. So if you're using private link then `account_name.privatelink` satisfies the definition of what an account identifier is accord

[2022-04-07 14:09] #1037 closed

[2022-04-08 13:43] markusos commented on #1087
We have the same issue. it's preventing us from installing the `apache-airflow-providers-snowflake` that depends on  `snowflake-connector-python` in the latest version of GCP Composer (composer-2.0.9-airflow-2.2.3), see full dependency list here: https://cloud.google.com/composer/docs/concepts/versioning/composer-versions

[2022-04-12 02:18] #926 closed

[2022-04-12 14:25] popcsev opened #1090 "SNOW-574273: Initiating login request with your identity provider. A browser window should have opened for you to complete the login."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Using `Python 3.9.7` and I am running the script on Jupyterlab 2.3.1

2. What operating system and processor architecture are you using?

macOS-12.0.1-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

anyio @ file:///private/var/folders/nz/j6p8yfhx1mv

[2022-04-13 07:40] talboren commented on #675
Any updates regarding this?

[2022-04-13 08:45] #259 closed

[2022-04-13 14:01] Messlow opened #1092 "SNOW-575165: Error when writing pandas dataframe after 2.7.0"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

`Python 3.8.12`

2. What operating system and processor architecture are you using?

`Linux-5.4.0-105-generic-x86_64-with-glibc2.17`

3. What are the component versions in the environment (`pip freeze`)?

pandas==1.4.2
pyarrow==6.0.1
snowflake-connector-python==2.7.6

4. What did you do?

[2022-04-13 15:08] JasonTam commented on #799
@sfc-gh-mkeller I can still reproduce this error with the following env:
[code]
Env was created via miniforge with these commands:
[code]

Excerpts from `conda list` for packages of interest:
[code]

And here is my minimal test function (with creds stored in env vars)
[code]

The only thing that's worked for me is to install everything under Rosetta emulation osx-64. However, Rosetta is not ideal

[2022-04-13 18:36] YEM-1 commented on #1073
I have found running it on another machine solves the issue.  The new machine has:
•	snowflake-connector-python==2.7.6
•	Python 3.7.9

As a reminder, the machine with the issue has:
•	snowflake-connector-python==2.7.4
•	Python 3.9.2

No, not importing through any special means.

Not sure.  That's why I created the bug!

[2022-04-14 09:58] kaxil commented on #1015
This would be great for Airflow users who are using this connector via [`SnowflakeOperatorAsync`](https://astronomer-providers.readthedocs.io/en/stable/_api/astronomer/providers/snowflake/operators/snowflake/index.html#astronomer.providers.snowflake.operators.snowflake.SnowflakeOperatorAsync)

[2022-04-14 15:04] adrien-turiot-maxa commented on #319
For our use-case, we need to do the conversion in the `COPY INTO` command because we did not have access to the parquet files. For example:

Given a parquet file like this:
[code]

Then we upload it this way:
[code]

<details>
<summary>Click here to see a simplified version of `write_pandas` using it:</summary>

[code]

The conversion is done in the `parse_field` function.

</details>

[2022-04-14 15:15] courtney-miro commented on #563
@sfc-gh-jbahk I'm running into the same error as @kumar-sf.
[code]

I've installed https://sfc-repo.snowflakecomputing.com/snowsql/bootstrap/1.2/linux_x86_64/snowflake-snowsql-1.2.21-1.x86_64.rpm.

The query is `select to_json(col_x) from table_x limit 1` where col_x contains a ~8 MB file.

It works if I wait for 10 minutes between each script execution. If I execute my script twice without waitin

[2022-04-14 18:25] sfc-gh-zblackwood opened #1093 "SNOW-576084: Setting environment variable SF_PARTNER doesn't send overridden `application` value in requests"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

Testing locally
[code]

4. What did you do?

Here is the issue written as a test (note that the first assert succeeds, and the last fa

[2022-04-15 22:45] #1093 closed

[2022-04-17 20:52] pblankley commented on #986
^^ This is the right way to solve this problem! Thanks @sfc-gh-mkeller 🙌

[2022-04-21 21:32] hanswilw commented on #1087
Also experiencing this, so would be nice to bump the dependency 👍

[2022-04-22 22:14] remisalmon commented on #1067
Reported to doc-feedback@snowflake.net instead.

[2022-04-22 22:14] #1067 closed

[2022-04-23 13:34] ppo-38 opened #1099 "SNOW-581157: Okta authenticator : 401 Unauthorized (missing authn step)"
### Context and current Behaviour :

**Context :**
- On Okta, users have to connect with their own credentials plus a second factor (okta push for exemple)
- On Okta, we use the Snowflake application configured with the authentication policy "Password only"
- On Snowflake, users just have to use the single sign on button to connect to the Snowflake console (and access is fully operational)
- Howev

[2022-04-25 11:22] voropaevp opened #1100 "SNOW-581527: fetch_pandas_all failing with `Segmentation fault: 11` on TRANSIENT tables."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

  Python 3.9.12 (main, Apr  5 2022, 01:53:17)
[Clang 12.0.0 ]

2. What operating system and processor architecture are you using?

 macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

   Replace with the output of `python -m pip freeze`

4

[2022-04-25 20:55] #878 closed

[2022-04-27 18:52] Pete-rePete opened #1107 "SNOW-582687: Snowflake Connection `AuthByOkta` is unreachable, blocked by irrelevant password check"
## Context:
### File
`src/snowflake/connector/connection.py`
### Relevant Block of Code
[Linked here](https://github.com/snowflakedb/snowflake-connector-python/blob/c02e6cba0cbb8063ade2e2d6c8c0dd4aa3584124/src/snowflake/connector/connection.py#L846-L860), in the `__config` function. Also displayed below
[code]
### Bug:
I was trying to set up native Okta SSO [as per this doc](https://docs.snowflake

[2022-04-27 20:21] Pete-rePete commented on #1107
Closing this, took me way too long to realize you actually do need a password

[2022-04-27 20:21] #1107 closed

[2022-04-27 20:22] sfc-gh-wfateem opened #1108 "SNOW-582728: Invalid Pyarrow Timestamps Returned"
This was tested using Snowflake Python Connector version 2.7.6 on a Python 3.8 environment:

[code]
Output:

[code]

This is possible due to nano precision limits in Arrow data and is addressed by [PR 1104](https://github.com/snowflakedb/snowflake-connector-python/pull/1104)

[2022-04-28 16:56] tbbharaj opened #1110 "SNOW-583266: Aarch64 wheels not published to pypi.org"
It looks like from [build_test.yml](https://github.com/snowflakedb/snowflake-connector-python/blob/main/.github/workflows/build_test.yml#L80) that aarch64 wheels are getting build but they are not getting published to pypi.org.

Can we get aarch64 wheels published to [pypi.org](https://pypi.org/project/snowflake-connector-python/2.7.6/#files)?

[2022-04-28 17:34] sfc-gh-mkeller commented on #799
@JasonTam I wonder if this is because of the conda compiled Python binary. However; I don't know anything about Anaconda.
Are you able to switch from (what I think is) your own compiled to a pre-built binary version of Python?

[2022-04-28 23:49] JasonTam commented on #799
@sfc-gh-mkeller You're right, it's the `cffi` binary on conda. I've got things working now on my conda env by forcing removal of `cffi` and reinstalling it via pip.
[code]
I had to do this since there were also a whole bunch of things that required `cffi`

Otherwise, more simply, installing `snowflake-connector-python` itself with pip works.

[2022-04-29 08:41] Mallegrissimo opened #1112 "SNOW-583861: Execute snowflake script with transaction control by snowflake-connector"
## What is the current behavior?
Currently, sql_text which eventually is passed to execute_stream() in connection.py will be clean and split into statements, and get executed by cur.execute(). However, with new feature - [Snowflake scripting](https://docs.snowflake.com/en/developer-guide/snowflake-scripting/blocks.html), multiple statements should be treated as a whole, especially, a transaction c

[2022-05-02 08:07] tekumara commented on #1089
Same here. Looks like `arrow_iterator.cpython-39-darwin.so` has only been built for intel not arm:

[code]

[2022-05-02 08:12] tekumara commented on #986
@sfc-gh-mkeller this is still an issue because the snowflake connector wheels aren't built for arm:

[code]

see https://github.com/snowflakedb/snowflake-connector-python/issues/1089#issuecomment-1114599043

[2022-05-02 08:13] tekumara commented on #1089
Same here. Looks like `arrow_iterator.cpython-39-darwin.so` has only been built for intel not arm:

[code]

[2022-05-02 20:50] sfc-gh-mkeller commented on #799
Since nobody seems to be having issues recently I'm going to close this issue, please  don't hesitate to reach out if you are having issues!

[2022-05-02 20:50] #799 closed

[2022-05-02 20:51] sfc-gh-mkeller commented on #986
We're currently working on releasing ARM builds for our Python connector

[2022-05-02 20:54] sfc-gh-mkeller commented on #857
Same thing as in https://github.com/snowflakedb/snowflake-connector-python/issues/799#issuecomment-1115353505
Please reach out if the issue still persists for some reason!

[2022-05-02 20:54] #857 closed

[2022-05-03 00:36] sfc-gh-mkeller opened #1114 "SNOW-584861: test"
test

[2022-05-03 00:38] #1114 closed

[2022-05-03 14:05] kbroughton opened #1115 "SNOW-584971: fetch_pandas_all returns JSON columns as string not dict"
I believe this is similar to several other issues and PRs:

* https://github.com/snowflakedb/snowflake-connector-python/issues/1069
* https://github.com/snowflakedb/snowflake-connector-python/issues/828
* https://github.com/snowflakedb/snowflake-connector-python/pull/1059

1. What version of Python are you using?

python 3.9.7

2. What operating system and processor architecture are you using?

Li

[2022-05-04 04:18] popcornylu commented on #1089
Same here.
Python 3.9.7
macOS-12.1-arm64-arm-64bit

Run
[code]

[2022-05-04 05:53] tekumara commented on #1089
See https://github.com/snowflakedb/snowflake-connector-python/issues/986#issuecomment-1115354587 which is a duplicate

[2022-05-04 15:02] kyushy opened #1118 "SNOW-585404: Compatibility cryptography 37.0.2"
We're running into an issue with snowflake-connector not being compatible with the new cryptography version.
`Requirement.parse('cryptography<37.0.0,>=3.1.0'), {'snowflake-connector-python'})`

Is there any plan to update those requirement to the new version? (37.0.2)

[2022-05-05 12:33] jonathancowling opened #1119 "Cannot get utf-8 errors for rows from a COPY with VALIDATE or VALIDATION_MODE"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   `Python 3.10.3 (main, Mar 29 2022, 14:13:30) [Clang 13.1.6 (clang-1316.0.21.2)]`

2. What operating system and processor architecture are you using?

   `macOS-12.3.1-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip freeze`)?

<pre>anyio==3.5.0
appnope==0

[2022-05-05 13:17] kbroughton opened #1120 "SNOW-586325: Please add instructions on how to run tests"
## What is the current behavior?

Pull requests template requires users to add tests for new code. However, there is no explanation of how to run tests.
In my case, I found ci/tests_darwin.sh but there are a ton of variables that need to be defined and no sample.env.sh to explain what variables are required/optional.  For example, you have config files in
[code]
which are decrypted, but since we c

[2022-05-05 18:51] sfc-gh-mkeller commented on #1120
I think what you're looking for is here https://github.com/snowflakedb/snowflake-connector-python/tree/main/test#running-tests
We should have clear instructions on how to create your own `parameters.py` file and how to run the tests too there

[2022-05-06 23:51] sfc-gh-mkeller opened #1126 "SNOW-587178: test"
test issue

[2022-05-07 22:26] wobo-bhavin commented on #283
Any word on this issue? I am seeing the same issue for longer jobs - shorter jobs run fine so it's not consistently happening.

[2022-05-08 00:49] #1126 closed

[2022-05-09 16:02] tbbharaj opened #1128 "Aarch64 wheels not published in pypi"
## What is the current behavior?
[pypi.org](https://pypi.org/project/snowflake-connector-python/2.7.7/#files) missing aarch64 wheels.
This is in continuation to closed [PR](https://github.com/snowflakedb/snowflake-connector-python/pull/801). I see github [workflows](https://github.com/snowflakedb/snowflake-connector-python/blob/main/.github/workflows/build_test.yml#L92) have been updated to build

[2022-05-09 23:08] sfc-gh-mkeller opened #1132 "SNOW-587741: test"
test issue

[2022-05-09 23:09] #1132 closed

[2022-05-10 14:49] DamianBarabonkovQC opened #1133 "SNOW-588043: Method of reading number from SQL can return int8 or int64"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
Python 3.10.4

2. What operating system and processor architecture are you using?
macOS-11.6-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1651018002635/work
snowflake-connector-pyt

[2022-05-10 17:57] sfc-gh-mkeller opened #1135 "SNOW-588122: Test"
test issue

[2022-05-10 18:01] #1135 closed

[2022-05-11 10:06] TheSamFed commented on #706
Just bumped into this issue, a fix would be appreciated

[2022-05-11 13:02] br0k3NaN commented on #986
In my case, the solution we found is before running Pipfile install `pycryptodomex==3.10.3` (the version where they fix the M1 issue).

Any update soon?  cheers

[2022-05-12 04:35] sfc-gh-mkeller commented on #1133
Hi @DamianBarabonkovQC
This isn't a bug, as our docs say: INT , INTEGER , BIGINT , SMALLINT , TINYINT , BYTEINT are all just synonymous with NUMBER. So this type has no special meaning.
Otherwise Snowflake is smart enough to keep some metadata like maximum and minimum numbers of numerical columns. So when you fetch data the Python connector will get INT8 from our back-end based on the extra metada

[2022-05-12 12:53] karakanb commented on #1128
I am experiencing this issue in an indirect way if I understand correctly: running an arm64 Docker build for an Airflow image on an M1 Mac, due to the lack of the arm64 packages on pypi, pip is trying to build the package, but it doesn't have enough permissions to do that.

This is a sample Dockerfile to reproduce the issue":
[code]

This is how I build the image:
[code]

The logs are long, but th

[2022-05-12 20:50] aduverger commented on #600
I solved the problem by adding `use_deprecated_int96_timestamps=True` in `chunk.to_parquet`.
It's how [Wes McKinney](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=wesm) suggested to deal with this pyarrow issue for pandas [here](https://issues.apache.org/jira/browse/ARROW-1957):

In `/snowflake/connector/pandas_tools.py` line 159:
[code]

Does this solve your problem too ?

[2022-05-13 14:29] njriasan commented on #1133
@sfc-gh-mkeller Sorry if this is not the right place to ask this question. If you run a describe with the Python connector does it provide this metadata as well? If so what part of the ResultMetadata does it correspond to? https://docs.snowflake.com/en/user-guide/python-connector-api.html#object-resultmetadata

[2022-05-13 14:55] njriasan opened #1139 "Support a Distributed Write API (inverse of distributed fetch)"
## What is the current behavior?

When you have data that is located on multiple different machine in memory, writing this data to Snowflake requires intermediate steps to perform the write in a single transaction. The crucial limiting factor (as I see it) is that each connection is assigned a unique ID for transactions, so if you want to group a set of writing into the same transaction, the reque

[2022-05-13 15:20] njriasan opened #1140 "SNOW-590042: Support reading string data as dictionary-encoded arrays via fetch_arrow_batches"
## What is the current behavior?
Currently when reading string data, the Snowflake connector always returns the data as a regular string array.

## What is the desired behavior?
Snowflake should support returning data using Arrow's dictionary encoded arrays. Dictionary encoded arrays represent string arrays using a dictionary of unique values and an index array that maps each entry in the array to

[2022-05-13 15:58] njriasan commented on #1140
Here is an example of the impact of dictionary encoded string arrays using Bodo.

[code]

The input Parquet file has a lot of repetition so it's compressed using a dictionary. In this example you can see that despite the string only having 2 or 3 characters, this cuts the memory usage roughly in half.

[2022-05-15 10:42] simonwardjones opened #1141 "SNOW-590657: Add overwrite option to write_pandas"
## What is the current behavior?

When using `write_pandas` method with `auto_create_table` as `True` the code generates a create statement by inferring the column types from the staged dataframe (parquet) file.

The code snippet (from pandas_tools.py) that does this is here:

[code]

## What is the desired behavior?

It would be handy if we could add an extra argument to the function `overwrite`

[2022-05-15 10:56] simonwardjones commented on #1141
Just a though if this were to be added there might want to be a validation that `auto_create_table` is not `False` and `overwrite` = `True`

[2022-05-16 04:11] nic-crouch-sfc opened #1142 "SNOW-590714: cursor.execute_async returns a dictionary instead of a cursor object"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.12

2. What operating system and processor architecture are you using?

macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

snowflake-connector-python=2.6.2=py39hb2f4e1b_0

4. What did you do?

type(conn.cursor().execute_async('

[2022-05-17 23:11] sfc-gh-mkeller commented on #1133
@njriasan in this case the metadata will be the same for all 3 ways of execution:

[code]

This is because the the schema of the results is a column named `CHUNK` with type `NUMBER(38,0)` (this is what `cur.description` tells you). It just happens that sometime `NUMBER(38,0)` can fit into an INT8, INT64, all the way up to a DECIMAL128.

Hope this is helpful!

[2022-05-18 00:06] njriasan commented on #1133
@sfc-gh-mkeller Thanks for the response. I was hoping that based on your comment "will get INT8 from our back-end based on the extra metadata it has access to" that it might be possible to access this metadata as part of describe (at least for simple queries that just select columns). I'm guessing the metadata you are referring to here may be the result of statistically information like the max an

[2022-05-18 02:23] hauntsaninja commented on #923
We're running into this as well. In general, it's pretty unfortunate to be pinning a dependency like cryptography, where it can be really important to get updates.

You can see more about cryptography's version policy here: https://cryptography.io/en/latest/api-stability/#deprecation

[2022-05-18 08:17] DannyVarod opened #1144 "SNOW-591884: pyarrow dependencies"
While Snowflake's library is a library we use, it isn't the only library we use and require.
Each library has a different version dependency of pyarrow, which can lead to conflicts.

Please do NOT make this library tied to a specific version of pyarrow, especially since not every version is a breaking change, instead it should be tested with and enable using various versions of pyarrow by checking

[2022-05-18 14:04] simonwardjones commented on #1141
I am happy to raise a PR but just wanted to get some feedback first

[2022-05-18 19:27] elanou commented on #1118
Interested as well. Looks like related PR is #1124

[2022-05-19 19:00] michaelk1c opened #1145 "SNOW-592647: IndexError: list index out of range in snowflake/connector/result_batch.py:698: IndexError"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

2. What operating system and processor architecture are you using?

3. What are the component versions in the environment (`pip freeze`)?

4. What did you do?

   If possible, provide a recipe for reproducing the error.
   A complete runnable program is good.

[code]
Here is the complete

[2022-05-19 22:34] sfc-gh-mkeller commented on #1145
Would it be possible for you to set a breakpoint in `../../../.local/share/virtualenvs/01-built-object-service-gvseloBk/lib/python3.8/site-packages/snowflake/connector/result_batch.py` just before line `698` with for example: `import pytest; pytest.set_trace()` and tell us what `s.type_code` is right before your test crashes?
Is there any chance that you are working with `GEOGRAPHY` column type? S

[2022-05-20 10:02] vhermecz opened #1146 "SNOW-592928: Implementation violates PEP-249's type_code comaprison to TypeObjects clause"
1. What version of Python are you using?

2.7.18, 3.6.9, 3.8.0

2. What operating system and processor architecture are you using?

Linux-5.4.0-110-generic-x86_64-with-glibc2.2.5

3. What are the component versions in the environment (`pip freeze`)?

builtins + snowflake-connector-python

4. What did you do?

PEP-249 [states](https://peps.python.org/pep-0249/#description) that one should be able t

[2022-05-20 11:22] frsann commented on #145
We started seeing this when using SQLAlchemy `engine.connect()` as a context manager (snowflake-connector-python version 2.7.7):

[code]

The error went away when changing the code so that we handle the closing of the connection manually.

[2022-05-20 15:58] jordantshaw commented on #1144
This would be extremely helpful

[2022-05-20 17:22] michaelk1c commented on #1145
As you can see above on the package list, we're on 2.7.4. Should we upgrade this to `2.7.7`?

[2022-05-20 23:17] sfc-gh-mkeller commented on #1144
I'm sorry, but we cannot loosen our pinning of `pyarrow`. However; I think that we have a good reason for this.
Our C-extension is compiled against specific `pyarrow` version and Arrow's internal APIs do change between major releases.

[2022-05-23 08:12] panduz86 commented on #1118
Hello, this issue is impacting us also.
I see that the PR https://github.com/snowflakedb/snowflake-connector-python/pull/1124 is still ongoing, any news about?

[2022-05-23 17:21] MareoRaft commented on #1100
I have the same issue.

[2022-05-23 17:44] MareoRaft commented on #1100
@voropaevp We were able to fix the issue by installing the snowflake-connector-python with the pandas option.  So we did

[code]

in bash.  We decided to try this after reading the documentation here: https://docs.snowflake.com/en/user-guide/python-connector-pandas.html#installation

[2022-05-24 11:41] chaug commented on #1118
Interested in this change within an azure context. Any news on PR #1124 ?

[2022-05-26 00:46] pybokeh opened #1154 "SNOW-595306: Can't install snowflake-connector-python-2.7.7 on Windows 10 (Python 3.9.8)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

    Python 3.9.8

2. What operating system and processor architecture are you using?

   Windows 10

3. What are the component versions in the environment (`pip freeze`)?

   No packages - freshly created new virtual environment

4. What did you do?

    pip install "snowflake-connector-p

[2022-05-26 10:02] vhermecz opened #1155 "Add support for sourcing connection info from snowcfg"
## What is the current behavior?
Not supported.
Currently, you have to provide the connection parameters to `snowflake.connector.connect`, there is no easy way to read from `snowcfg`.

## What is the desired behavior?
Be able to simply call `snowflake.connector.connect(connection="connname")`, which would parse connection info from `snowcfg` config file.

## How would this improve `snowflake-conne

[2022-05-26 17:46] airdropsqb commented on #1154
Hi, [Solved] - Step by Step
https://youtu.be/Y4QxGemfNrs

[2022-05-29 08:05] TomaszZamacinski commented on #320
@sfc-gh-mkeller I have run into a situation where lack of control over batch size seems to be a problem.
For large input datasets batch sizes tend to become very small, leading to very long overall execution times.
For a smaller sample from the same dataset, the execution time is disproportionally shorter.

To illustrate:
[code]
Returns
`287
3011
2900
5776
8610
14414
15002`
Execution time ~6s

Whe

[2022-05-30 19:55] srausser commented on #544
any updates/eta's on when we can expect converting VARIANT/ARRAY to python object?
can't use snowflake as my [feast](feast.dev) offline store if the type conversion doesn't happen

[2022-06-02 04:03] TomaszZamacinski opened #1160 "SNOW-606540: fetch_pandas_batches tiny batch size"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.12

2. What operating system and processor architecture are you using?

macOS-12.3.1-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

    absl-py==1.0.0
    alembic==1.7.7
    appnope==0.1.3
    argon2-cffi==21.3.0
    argon2-cffi-bindin

[2022-06-06 15:02] microprediction commented on #436
If you are not making use of arrow, I would suggest simply uninstalling it when using snowflake connector. At least that worked for me.

[2022-06-06 15:05] microprediction commented on #1144
Upvote, even though I realize that the suggestion is a bit of a pain.

[2022-06-06 20:12] sfc-gh-madkins commented on #1140
@sfc-gh-zpeng  is this the same issue?

[2022-06-07 17:44] fluxquantum opened #1161 "SNOW-608475: CVE-2022-29217 detected in version 2.3.10"
## What is the current behavior?
Works functionally as excepted.

## What is the desired behavior?
Please update a downstream dependency to resolve [CVE-2022-29217](https://vuln.whitesourcesoftware.com/vulnerability/CVE-2022-29217)

## How would this improve `snowflake-connector-python`?
N/A

## References, Other Background

Getting the following vulnerability finding reported on 5-24-2022 resolve

[2022-06-08 21:41] #1145 closed

[2022-06-13 19:10] littleK0i opened #1162 "SNOW-610798: Bulk INSERT works incorrectly with OVERWRITE"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
[code]

2. What operating system and processor architecture are you using?
[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

---

SnowflakeCursor object uses the following regular expression to detect INSERT statements and use BindUploadAgent for bulk i

[2022-06-13 20:24] dylanbstorey opened #1163 "SNOW-610826: update test_util.py os.getenv() behavior"
Hey,

I'm not using the template because honestly the problem i'm trying to solve upstream of us isn't really a bug per-se more just a conflict in behaviors between libraries.

As part of a pipeline for validating the importability of code for an orchestration system, we often mock `os.environ.get()` to return a string value. This allows the user of the library to test the validity of their code w

[2022-06-14 04:12] gcnuss commented on #563
@kumar-sf we have been experiencing the same issue as you when running schemachange pipelines.  I was able to trace the issue to the situation where the number of R-scripts we have in the versionhistory table (and the length of those script names) is large enough that the cursor contains more than one "chunk" (i.e. result batch).  When iterating through the rows in the cursor, it consistently fail

[2022-06-14 12:37] kumar-sf commented on #563
@gcnuss ,
Yes, that is the exact root cause that I found when I was troubleshooting. I think issue was resolved from snowflake-connector-python version 2.7.5.

[2022-06-14 21:17] gcnuss commented on #563
Great to get that confirmation! Thanks for the quick reply

[2022-06-21 17:38] dollschasingmen opened #1167 "SNOW-615583: Error when using connector in airflow snowflake hook: module 'snowflake' has no attribute 'connector'"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.7.x

2. What operating system and processor architecture are you using?

  Linux-5.10.25-linuxkit-x86_64-with-debian-10.12

3. What are the component versions in the environment (`pip freeze`)?

aiohttp==3.8.0
aiosignal==1.2.0
alembic==1.7.4
amqp==5.0.6
anyio==3.3.4
apache-airflow==2

[2022-06-22 11:14] vineethReddy-JLL opened #1168 "SNOW-616662: Refresh External Table not registering in snowflake using python connect"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.9.7

2. What operating system and processor architecture are you using?

   macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

  agate==1.6.1
alabaster==0.7.12
appnope==0.1.3
argh==0.26.2
arrow==1.2.2
asn1crypto==1.5.1
astroid

[2022-06-22 20:25] valentin-martinez-gama commented on #252
Hey I am having this SAM Build error again with Python 3.9 and snowflake-connector-python==2.7.8

[2022-06-23 06:41] YYYasin19 opened #1169 "SNOW-617164: SIGSEV / Segmentation Fault on `fetch_arrow_all` when pandas is not installed"
Hey,

Currently, when I run the following code snippet
[code]
a segmentation fault is raised when **pandas is not installed**. I know that pandas should be installed for `.fetch_pandas_all()` but I could not find an indication of it being needed for the `pyarrow`-functions as well.

---
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[2022-06-23 15:24] mhconradt opened #1170 "SNOW-617284: Arrow Schema Depends on Range of Values in Table"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.7

2. What operating system and processor architecture are you using?

Darwin-21.3.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

5. What did you expect to see?

I wouldn't expect the schema of the

[2022-06-23 20:34] guido-muscioni-anthem opened #1174 "SNOW-617425: Possible memory_leak in `write_pandas`"
[code]

Running on `Debian GNU/Linux 11 (bullseye)`

I believe I am experiencing a memory leak when using the `write_pandas` function within a for loop. See below for a reproducible code:
[code]

When running the above code (with the file that can be found here: https://issues.apache.org/jira/browse/ARROW-9612), I can see that the memory of the `python` process goes up for the file read, stays up

[2022-06-23 20:39] iamontheinet opened #1175 "SNOW-617426: Ability to overwrite tables when using write_pandas()"
## What is the current behavior?

Using the [write_pandas()](https://docs.snowflake.com/en/developer-guide/snowpark/reference/python/_autosummary/snowflake.snowpark.html#snowflake.snowpark.Session.write_pandas) API there is no way to overwrite contents of a Snowflake table with that of a Pandas DataFrame without first executing a truncate SQL statement.

## What is the desired behavior?

Using the

[2022-06-23 22:39] janusqa commented on #1004
I believe I am getting this same error.

[2022-06-24 05:59] chav-aniket opened #1176 "SNOW-617612: Premature version bumps"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.8

2. What operating system and processor architecture are you using?

   Ubuntu 20.04

3. What are the component versions in the environment (`pip freeze`)?

   Irrelevant

4. What did you do?

   Use requirements_38.reqs

5. What did you expect to see?

   Installed appropriately

[2022-06-24 18:59] mhconradt commented on #1175
Under the hood, `write_pandas` runs a `COPY` statement which is append-only. I recommend using `TRUNCATE TABLE tbl IF EXISTS` if you want to overwrite the rows in the table, or `DROP TABLE IF EXISTS` if you want to replace the table itself.

[2022-06-24 19:14] iamontheinet commented on #1175
Yes, I am looking into `DROP TABLE IF EXIST` which will account for any schema change(s) in the Pandas DataFrame. Thanks!

[2022-06-28 18:27] simonwardjones commented on #1175
@mhconradt would it be worth me making the PR I suggested or better to implement a work around in our application code?

[2022-06-28 18:32] iamontheinet commented on #1175
I am working on a solution as described in my comment above and will be creating a PR pretty soon.

[2022-06-29 14:37] mohamedajmaltm commented on #620
I think the issue are facing has to do with OCSP checking

Add "insecure_mode=True" in snowflake connector to disable OCSP checking
[code]
But "insecure_mode=True" is needed only when running inside Airflow (Running as a pyscript works fine) . I don't know why is that.

[2022-06-30 12:17] docbyte86 commented on #324
I still see the issue while installing pip package snowflake-connector-python 2.7.4.
As a dependency the pip is installing 2.27.1, which is buggy.

Collecting requests<3.0.0
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.7 MB/s

Only a work around, downgrading requests package to 2.23.0 is solving the problem

[2022-07-01 02:40] pybokeh commented on #1154
I have upgraded to version 2.7.8 as it has pre-compiled binary (.whl) available.

[2022-07-01 02:40] #1154 closed

[2022-07-01 03:20] pybokeh opened #1178 "SNOW-620952: After upgrading to version 2.7.9, empty Snowflake table is being created when using pandas to_sql(method=pd_writer)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.9.13

2. What operating system and processor architecture are you using?

   Windows 10

3. What are the component versions in the environment (`pip freeze`)?

   snowflake-connector-python==2.7.9
   snowflake-sqlalchemy==1.3.4

4. What did you do?

[code]

5. What did you expect to

[2022-07-01 05:29] cwillhu opened #1179 "SNOW-620973: cursor.log_max_query_length assigned string instead of int value"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.12 (main, Mar 26 2022, 15:52:10)
[Clang 13.0.0 (clang-1300.0.29.30)]

2. What operating system and processor architecture are you using?

macOS-11.6.4-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

asn1crypto==1.5.1
certifi==2022.6.15

[2022-07-01 15:40] microprediction opened #1181 "SNOW-621525: Clarification about need for pyarrow when using pandas"
Hello. Can you clarify that pyarrow is actually a requirement for using snowflake-connector-python even if we only wish to fetch into pandas? The following code suggests this, and by the way the error message could be less misleading, I feel! Perhaps it is a bug?

                if installed_pandas:
                    from pyarrow import Table
                else:
                    logger.deb

[2022-07-01 15:44] microprediction commented on #1181
Ah never mind I realized it was an import ordering thing combined with a pycharm caching glitch.

[2022-07-01 15:44] #1181 closed

[2022-07-05 12:34] EmilRamsvik opened #1182 "Snowflake con.cursur().execute("SQL).fetch_pandas_all() crashed Azure ML Experiment run"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.8.12

2. What operating system and processor architecture are you using?

 AZURE ML STUDIO

3. What are the component versions in the environment (`pip freeze`)?

      - azureml-defaults
  - scikit-learn
  - packaging
  - pandas
  - numpy
  - jinjasql
  - 'snowflake-connector-python

[2022-07-08 12:29] toughrogrammer commented on #1128
Hi. I got same error.
When I run as root user and run `sudo -u airflow pip install snowflake-connector-python` is ok.

But below is an error.
[code]

[2022-07-09 02:12] ad-m-ss opened #1184 "Missing tag for release v2.7.9"
1. What version of Python are you using?

N/A

2. What operating system and processor architecture are you using?

N/A

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

On https://pypi.org/project/snowflake-connector-python/#history latest version is 2.7.9

On https://github.com/snowflakedb/snowflake-connector-python/releases or https://github.com

[2022-07-11 11:58] jmg-duarte opened #1185 "Session/cursor specific `paramstyle`"
## What is the current behavior?

The `paramstyle` must be declared before opening a connection.

## What is the desired behavior?

To be able to declare the `paramstyle` on a finer grain level.

## How would this improve `snowflake-connector-python`?

Provide users with more flexibility to set their paramstyle without requiring different connections.

By default, the connector uses `pyformat`, ho

[2022-07-11 17:17] sfc-gh-mkeller commented on #1184
The release is official. We forgot to add the release here, but `v2.7.9` is this commit: https://github.com/snowflakedb/snowflake-connector-python/commit/efeaeb15bdae7b7378b8a007bb9fe22e7f540669
We'll fix this today, thanks for reporting it!

[2022-07-13 12:36] zevaverbach commented on #575
@sfc-gh-mkeller hey, do you have any thoughts about my question above? I've just arrived here for the third time from a Google search, and it seems like a few other wanderers have had the same confusion.

[2022-07-13 22:45] sfc-gh-aling commented on #706
hey guys, thanks for your patience -- I'd like to give an update on the issue:

I'm able to repro the issue and this should be an issue in the snowflake-sqlalchemy. we had a PR out for better sqlalchemy compliance which should address this issue: https://github.com/snowflakedb/snowflake-sqlalchemy/pull/314

I will let you know once the new version of snowflake-sqlalchemy is released.

[2022-07-14 02:57] sfc-gh-inataraj commented on #1168
The solution path is to execute a DDL statement after the refresh of the external table:
snowflake_connection.execute(""" CREATE OR REPLACE TEMPORARY TABLE TEST AS select  <COLUMN_NAME>  FROM <TABLE_NAME>  LIMIT 1; """).fetchall()
This needs to be done in the same connection session.

Execute your query select statement in the Snowflake UI, you should see the update to the external table.

[2022-07-14 07:41] Satchitananda commented on #1144
Upvote as well

[2022-07-14 10:50] bra-fsn opened #1188 "SNOW-628192: RequestsDependencyWarning"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

`Python 3.10.1 (main, Dec  8 2021, 03:30:49) [GCC 10.2.1 20210110]`

2. What operating system and processor architecture are you using?

`Linux-5.13.0-52-generic-x86_64-with-glibc2.31`

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[co

[2022-07-14 17:13] sfc-gh-mkeller opened #1189 "SNOW-628190: Support pyarrow versions 7 and 8"
As title says

[2022-07-14 17:19] sfc-gh-mkeller commented on #1189
recreate jira

[2022-07-14 17:20] sfc-gh-mkeller commented on #1188
recreate jira

[2022-07-14 17:21] sfc-gh-mkeller commented on #1188
You're right, we should bump our vendored `urllib3` and `requests` instead of requiring old dependencies!

[2022-07-14 21:45] ThomasJRyan opened #1194 "[Feature Request] - Allow custom `CLIENT_ENVIRONMENT` information"
Specifically in this spot right here

https://github.com/snowflakedb/snowflake-connector-python/blob/3db2ab1b6931fb6261899575d5e53d62884d24a7/src/snowflake/connector/auth.py#L149

We just had an incident where one of our junior developers dropped all of our tables and I'm now realizing how much I'd have loved for their user ID to have been in the history's Client Info, among some other information

[2022-07-14 23:57] brandon-leapyear commented on #1108
Are there any updates to this? I also see other related open issues:
* https://github.com/snowflakedb/snowflake-connector-python/issues/616
* https://github.com/snowflakedb/snowflake-connector-python/issues/600

Minimal repro:
[code]
[code]
This outputs:
[code]
which shows that just plain `datetime()` objects get interpreted as seconds from epoch instead of microseconds from epoch

[2022-07-19 23:36] #1188 closed

[2022-07-20 15:02] TNonet opened #1199 "SNOW-631739: `setup.cfg` does not pin pyarrow properly"
Pyarrow may not be pinned properly in [setup.cfg](https://github.com/snowflakedb/snowflake-connector-python/blob/main/setup.cfg).

It current is in `[options.extras_require]` for `pandas` but I believe it should be in `install_requires` section?

This is preventing poetry from detecting that dependency incompatibilities between `pyarrow` and `snowflake-connector-python`

MWE:
[code]

In the lock `

[2022-07-20 19:08] potiuk commented on #1128
You have full information about extending/customizing airflow image with dependencies requiring build essentials, including examples in https://airflow.apache.org/docs/docker-stack/build.html

Start here https://airflow.apache.org/docs/docker-stack/build.html#extending-the-image for the build-essential requiring dependencies.

[2022-07-21 21:47] shacker commented on #970
This issue comes up when you `select *` and are doing a join on a common column name - very straightforward use case. Seems like the only way around it is to specifically request every single column you want back in the `select`, which can be a pita.

[2022-07-22 17:10] jlorince opened #1202 "SNOW-633549: `fetch_pandas_all` fails when exeucting inserts, creates, etc."
TL;DR: Any non-select queries (inserts, create table etc.

1. What version of Python are you using?

Python 3.9.12

2. What operating system and processor architecture are you using?

Linux-5.4.181-99.354.amzn2.x86_64-x86_64-with-glibc2.28

3. What are the component versions in the environment (`pip freeze`)?

[omitting]

4. What did you do?

[code]

Raises:

[code]

5. What did you expect to see?

[2022-07-22 20:42] #1175 closed

[2022-07-23 12:38] #1141 closed

[2022-07-24 00:27] jpzhangvincent commented on #799
I still have issues. I got the error -
[code]

[2022-07-24 09:03] jpzhangvincent opened #1205 "MemoryError: Cannot allocate write+execute memory for ffi.callback()"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

  Python 3.9.13 | packaged by conda-forge

2. What operating system and processor architecture are you using?

   macOS-10.16-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

   cffi==1.15.1
   cryptography==37.0.4
   snowflake-sqlalchemy==1.3.4
   s

[2022-07-25 18:46] Messlow commented on #1092
Any news for this? Any PUT or GET will also get me the same error with version >= 2.7

[2022-07-25 19:03] sfc-gh-mkeller commented on #1205
[This comment](https://github.com/pyca/pyopenssl/issues/873#issuecomment-1152866624) seems to suggest that the issue might be caused by not using `libffi` that ships with macos. Could you try rebuilding your Python executable and make sure it's built with that `libffi`? Then maybe install `cffi` from source to force it to use the system's `libffi` as well.

[2022-07-25 23:26] mrcarlosrendon opened #1206 "SNOW-634755: ImportError: cannot import name 'NamedTuple' from 'typing_extensions'"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Issue happened on vm, but reproduces on my mac

  `Python 3.9.7 (default, Oct 13 2021, 06:45:31)
[Clang 13.0.0 (clang-1300.0.29.3)]`

2. What operating system and processor architecture are you using?

`macOS-12.4-x86_64-i386-64bit`

3. What are the component versions in the environment (

[2022-07-26 00:25] Nakulbajaj101 commented on #1206
We had to go back to 2.7.9

[2022-07-26 02:01] mrcarlosrendon commented on #1206
`pip install 'typing-extensions>=4.3.0'` with version 2.7.10 should also do the trick.

[2022-07-26 04:17] wilson-vaquen commented on #1206
As per @mrcarlosrendon, typing extensions from version 4 uses semantic versioning, so probably the most elegant solution is pip install 'typing-extensions>=4.3.0'
![image](https://user-images.githubusercontent.com/102572962/180921768-cd4aac90-9db9-4be6-a432-5531d6d3998f.png)
https://pypi.org/project/typing-extensions/

[2022-07-26 07:13] roshan-abady commented on #1206
FYI, We have encountered the same error today as well.

[2022-07-26 07:34] viktorossmark commented on #1206
We are also getting the same error all over the place. You probably need to update the requirements.

[2022-07-26 07:36] Meiky246 commented on #1206
Same problem here, and !pip install 'typing-extensions>=4.3.0' did not solve it (using google colab) :(

[2022-07-26 08:08] mitabear commented on #10
This is an old thread but I think I figured it out--the parameter passed in needs to be either a tuple or a dictionary. So the original code snippet should be:
`self.cnx.cursor().execute("USE ROLE %s", (self.sf_role,))`

[2022-07-26 08:12] david-p-wqpredtech commented on #1206
Same problem here all of a sudden. `%pip install 'typing-extensions>=4.3.0'` solved it on Databricks notebooks.

[2022-07-26 09:16] ethanbates-ez commented on #1202
We found this to be true for all [DDL operations](https://docs.snowflake.com/en/sql-reference/sql-ddl-summary.html) (ALTER, CREATE, DROP, etc) - which has to do with the result_format [returned](https://github.com/snowflakedb/snowflake-connector-python/blob/main/src/snowflake/connector/cursor.py#L984)
...
Our workaround was to create a `DictCursor` and use `fetchall()`

[code]

[2022-07-26 12:00] FransGer commented on #1206
@viktorossmark - this just saved me a hell of a lot of time. Thank you very much!!!

[2022-07-26 12:00] DianGermishuizen commented on #1206
Hi viktorossmark
Your solution worked perfectly for our AWS MWAA instance as well, thank you very much for saving our behinds!

[2022-07-26 14:52] agshiv92 commented on #1206
Same here the solution did not work for colab

[2022-07-26 15:29] wiktor2200 commented on #1206
@agshiv92 take a look on my solution for snowflake-sqlalchemy in Superset's repository. In different repositories this can be caused by different things. There there was a problem with python dependencies defined with `<3.0.0` so it downloaded newest version of `snowflake-connection-python` because it fulfilled condition while still wasn't incompatible (needed `2.7.9` there).
Maybe the same case e

[2022-07-26 17:00] christianrua commented on #1206
Same problem here all of a sudden. %pip install 'typing-extensions>=4.3.0' solved it on EC2 Airflow cluster

[2022-07-26 17:31] davidemerritt opened #1207 "Allow control of retry counts and/or retry backoff logic"
## What is the current behavior?
The retry behavior when snowflake responds with a 503 is not controllable. It currently retries 10 times with a jittered 15s backoff.

## What is the desired behavior?
Being able to control this either via a global override or the client connection option would be desirable. This would allow for our application logic to handle these errors or do longer backoffs so

[2022-07-26 20:23] hc1wwilger commented on #1206
Happening in AWS Glue 2.0 as well, fix was adding typing-extensions to the extra python modules, a la:

[code]

[2022-07-26 20:38] rahulsatasia commented on #1206
pip install 'typing-extensions>=4.3.0' worked for me in python 3.9+

[2022-07-26 21:55] sfc-gh-mkeller commented on #1206
Re-opening for a few extra days. Just so that it's easier for others to find t

[2022-07-26 23:21] chingc commented on #1206
The suggested solution of installing typing-extensions 4.3.0 doesn't work for Python 3.6, which unfortunately, my company is still using.

[2022-07-26 23:49] jpzhangvincent commented on #1205
Can you give you some pointer on how to rebuild/check the Python executable with `libffi`? I'm using the conda environment.

[2022-07-27 05:04] eyalyoli commented on #218
this is how you do it with an engine:
[code]
    or a connection
[code]

[2022-07-27 05:56] jpzhangvincent commented on #857
Ya using "snowflake-connector" on Mac M1 is really challenging . Is it possible to remove the "pyopenssl" dependencies?

[2022-07-28 18:09] #1108 closed

[2022-07-28 18:56] xzxqq1 opened #1211 "SNOW-636903: insert many rows into snowflake using subquery, it will throw error: "Bind variable ? not set""
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.7.13 (default, Mar 28 2022, 07:24:34)
   [Clang 12.0.0 ]

2. What operating system and processor architecture are you using?

   Darwin-21.1.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

   asn1crypto==1.5.1
   certifi @ file:///pr

[2022-07-28 19:27] aduverger opened #1212 "Users can't SSO through a containerized web app (e.g. Streamlit)"
Hello guys !

## What is the current behavior?
We have a web application developed with Streamlit, that let people access their Snowflake tables easily.
To do that, users have to log in using AzureADSSO.
Everything works well when the streamlit app is running locally :
- User click on a SSO button
- A new tab opens to log in using their Azure Account
- They can close the tab, and now they are loge

[2022-07-29 00:55] chetangr opened #1214 "SNOW-637125: Unable to run Pandas_udf, throws TypeError: invalid type <class 'pandas.core.series.Series'> error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.8.13 | packaged by conda-forge | (default, Mar 25 2022, 05:59:00) [MSC v.1929 64 bit (AMD64)]

2. What operating system and processor architecture are you using?

   Windows-10-10.0.19044-SP0

3. What are the component versions in the environment (`pip freeze`)?

   alabaster=

[2022-07-29 10:06] badge commented on #1205
@sfc-gh-mkeller while Homebrew Python 3.9 might resolve this, [Snowflake's own Snowpark doesn't support Python 3.9](https://github.com/snowflakedb/snowpark-python/issues/377) (and doesn't look like it's going to any time soon), and Homebrew Python 3.8 doesn't resolve the issue.

[2022-07-29 10:47] Meiky246 commented on #1206
Weird, yesterday it worked, but today I get the same error again - any idea why this is happeneing?

[2022-07-29 19:49] chamini2 commented on #600
Hey, I am trying the proposed alternative from @sfc-gh-kzaveri and I am sending a dataframe with tz defined

[code]

But then it is uploaded as NTZ

<img width="557" alt="image" src="https://user-images.githubusercontent.com/2745502/181831829-3634b4bd-6b27-4cc5-8e63-d266782fecd2.png">

Any ideas what might make this behave like this? Any specific versions I should be using?

And when read with `df

[2022-07-30 11:28] domfp13 commented on #986
running python 3.9 solved my issue

[2022-08-01 17:35] #1184 closed

[2022-08-01 18:39] lroberts7 commented on #1167
I just ran into this issue myself. I downgraded from `snowflake-connector-python-2.7.11` to `snowflake-connector-python-2.7.6` and it resolved the problem for me.

[2022-08-02 05:56] chamini2 commented on #1169
In my case it was that I needed pyarrow 8.0.0. Try to see if it helps!

[2022-08-02 08:28] maphany commented on #1206
Also experiencing the same error on google colab.

[2022-08-02 14:38] ad-m-ss commented on #392
The workaround is to cast the data to another type. For example:

[code]

[2022-08-02 14:41] #392 closed

[2022-08-03 08:02] ad-m-ss commented on #392
@Samira-El Why is this issue closed? In my opinion, this is just a workaround, and optimal would be:
* documenting this behavior of the connector
* enabling such data mapping to be disabled / providing a mapping that fully covers the Snowflake data range

[2022-08-05 07:25] xzxqq1 commented on #1211
Can someone please reply to this question, thanks a lot

[2022-08-08 11:27] jonashaag opened #1219 "Allow passing additional kwargs to `pd_writer`"
## What is the current behavior?

https://github.com/snowflakedb/snowflake-connector-python/blob/0aec3eff1e4d2fe0f3845814645b7a66246a88f4/src/snowflake/connector/pandas_tools.py#L301-L307

Does not allow additional kwargs from here:

https://github.com/snowflakedb/snowflake-connector-python/blob/0aec3eff1e4d2fe0f3845814645b7a66246a88f4/src/snowflake/connector/pandas_tools.py#L38-L52

## What is th

[2022-08-08 12:22] HelmutSchuster commented on #1206
One must follow exactly the instructions in https://docs.snowflake.com/en/developer-guide/snowpark/python/setup.html and not mix conda and pip.

[2022-08-08 14:12] jonashaag opened #1220 "`pd_writer` regression with Pandas 1.3 -> 1.4"
Reproducer:

[code]

It works in Pandas 1.3 (specifically, before this PR: https://github.com/pandas-dev/pandas/pull/43116)

Logs attached.

[log-pandas-13.txt](https://github.com/snowflakedb/snowflake-connector-python/files/9282394/log-pandas-13.txt)
[log-pandas-14.txt](https://github.com/snowflakedb/snowflake-connector-python/files/9282396/log-pandas-14.txt)

[2022-08-08 17:54] jamesowers-roo commented on #1206
In case anyone else arrives and in need, I restricted my version of snowflake-connector-python to temporarily fix. I added
[code]

to my pyproject.toml

[2022-08-09 23:41] sfc-gh-mkeller commented on #1202
Currently only a subset of `SELECT` statements support serving Arrow results. Which is a requirement of our current implementation to serve you pandas, or arrow results both.

However; there's a way to work around this limitation for your case.
[code]
This way the `select` statement will be able to transform the results for you into Arrow.

[2022-08-10 08:12] dennis-wey commented on #38
Since to me this is easily the most frustrating topic about snowflake, I thought I'll describe some use cases:

In general asyncio is a solution to achieve concurrent programming in python. This is different from parallel computing (see here: https://stackoverflow.com/questions/1897993/what-is-the-difference-between-concurrent-programming-and-parallel-programming)
That makes asyncio great when wai

[2022-08-10 19:33] Demetrio92 commented on #1034
facing this issue. Without a workaround, it renders `write_pandas` useless

[2022-08-10 20:16] Demetrio92 commented on #1034
Looked into the PR. Hotfix is indeed trivial.

In `write_pandas` find the line `cursor = conn.cursor()`, then add
[code]

[2022-08-12 05:52] alexblund commented on #1206
How do I update it running locally with docker? Having the same probnlem.

[2022-08-12 07:02] viktorossmark commented on #1206
@alexblund Update the requirements.txt file and rebuild the docker image!

[2022-08-12 20:26] sfc-gh-mkeller commented on #1206
`2.7.11` release version added the missing lower version pin and the problematic version `2.7.10` was yanked from PyPi.
Make sure that you are not pinning to `2.7.10`, this seems to force pip to still install the yanked version anyway.
Again I apologize for the issue, please don't hesitate to reach out if you have issues!

[2022-08-12 20:26] #1206 closed

[2022-08-12 20:39] sfc-gh-mkeller commented on #986
So we have been releasing MacOS ARM wheels since [release 2.7.8](https://pypi.org/project/snowflake-connector-python/2.7.8/#files).

Please be aware that this does not mean that you won't see:
[code]

This error could mean 2 things:
1. The server-side was unable to produce Arrow results
Our back-end can produce JSON, or Arrow results. Arrow results are necessary for our current implementation for

[2022-08-12 20:39] #986 closed

[2022-08-16 20:58] sfc-gh-mkeller commented on #1202
As a pre-requisite please read https://github.com/snowflakedb/snowflake-connector-python/issues/986#issuecomment-1213496635
The other option is to allow JSON results to be casted into `pandas.DataFrame` and `pyarrow.Table` in the connector's side. This is exactly what @ethanbates-ez is suggesting [in his comment](https://github.com/snowflakedb/snowflake-connector-python/issues/1202#issuecomment-11

[2022-08-16 21:51] mjng93 commented on #1178
Havin the exact same issue. Python 3.8.8, Windows 11, snowflake-connector-python==2.7.9, snowflake-sqlalchemy==1.4.0

[2022-08-17 03:08] technicolorbeat opened #1225 "SNOW-646968: EU region jobs fails with Snowflake OSCP cache locked issue"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.8.10 (default, Jun 22 2022, 20:18:18)
[GCC 9.4.0]

2. What operating system and processor architecture are you using?

Linux-5.13.0-1031-gcp-x86_64-with-glibc2.29

3. What are the component versions in the environment (`pip freeze`)?

 We cannot disclose the library versions we h

[2022-08-18 13:50] kandji-ross opened #1227 "SNOW-647590: Using `execute_async` to perform a `PUT` command raises KeyError"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

Attempted to run a `PUT` command via `execute_async`.

5. What did you expect to see?

Expected that the

[2022-08-18 14:30] Vaunorage opened #1228 "Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;'"
Please answer these questions before submitting your issue. Thanks!

**1. What version of Python are you using?**

python 3.8

**2. What operating system and processor architecture are you using?**

   Windows-10-10.0.19044-SP0

**3. What are the component versions in the environment (`pip freeze`)?**

backports.zoneinfo @ file:///C:/Users/gen06917/AppData/Local/pypoetry/Cache/artifacts/71/1a/62/9

[2022-08-18 18:12] pkrish123 commented on #866
I'm seeing this same thing happen on 2.7.0 and it seemed to have started yesterday

[2022-08-18 18:21] pkrish123 opened #1230 "SNOW-648645: Snowflake-connector-python 2.7.0 snowflake.connector.errors.OperationalError: 253003"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
[code]

2. What operating system and processor architecture are you using?
[code]

4. What are the component versions in the environment (`pip freeze`)?
[code]

5. What did you do?
Trying to write a dataframe to a Snowflake table using write_pandas from an Airflow DAG.

6. What did you exp

[2022-08-18 18:23] pkrish123 commented on #1230
Workaround for this is to downgrade snowflake-connector-python to version 2.4.6

[2022-08-19 05:35] ad-m-ss commented on #392
Trick `select to_json(object_construct(*)) AS "row" from ...` fails for newly added GEOGRAPHY type:

[code]

[2022-08-20 13:57] sathiyaseelants commented on #1144
where can i find which version of pyarrow is being used in which version of snowflake-connector-python. I am using latest snowflake connector for python 2.7.11 and struck with pyarrow error.

"Cannot determine if compatible pyarrow is installed because of missing package(s) from dict_keys"

Upvote as well

[2022-08-22 14:06] pajain-mdsol opened #1232 "insert null into a variant column"
## What is the current behavior?
I have a variant column with multiple fields inside it, whenever there is a None, it doesnt insert that particular key in variant column and just skips it -
`df2 = pd.DataFrame([('Mark', {'K': 2,'Z':None}), ('Luke', {'K': 4,'Z':'bla'})], columns=['ID', 'V'])`

when i do write_pandas on it using this
`# Write the data from the DataFrame to the table named "customers

[2022-08-22 22:07] sfc-gh-mkeller commented on #392
It's closed because I think the issue was fixed @ad-m-ss
When I run:
[code]
I get: `[(datetime.datetime(9999, 12, 31, 23, 59, 59, 999999),)]` just like what's expected.

I believe your issue is different. The original issue has to do with `datetime.datetime`s, your issue is with the geography type. We don't support variant server-side binding currently. I think that's what's causing your issue. Co

[2022-08-23 19:15] sfc-gh-mkeller commented on #1199
Hi @TNonet
You need to request our optional dependency group when you install `snowflake-connector-python`
Instead of `poetry add snowflake-connector-python==2.7.9` use `poetry add "snowflake-connector-python[pandas]==2.7.9"`

[2022-08-23 19:50] Kache opened #1234 "SNOW-650716: SnowflakeCursor doesn't call `_prefetch_hook()` before yielding results of an `execute_async()`"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.7.6

2. What operating system and processor architecture are you using?

Darwin-20.6.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

   Replace with the output of `python -m pip freeze`
   Not particularly relevant, should be able to re

[2022-08-24 20:47] m-o-leary commented on #1099
Any update on this? The okta auth is essentially broken now right?

[2022-08-25 15:11] ibuda commented on #970
@shacker  I had the same error with `select * from `, and I am confirming that indicating the column list in the select statement solves the problem.

[2022-08-26 11:55] listewka commented on #1178
The same here, Python 3.8.8, Windows 11, snowflake-connector-python==2.7.11

[2022-08-29 12:51] jmg-duarte opened #1241 "SNOW-653040: connection.cursor() does not inherit the connection database"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]
And
[code]

2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

5. What did you expect to see?

The cursor inheriting the database.

6. Can you set lo

[2022-08-29 13:15] jmg-duarte commented on #1241
This seems to be a permissions issue, as I tried with a different connection string and it worked.

Thought, if that is the case, then the connector should fail on connect and not after with the "wrong" error

[2022-09-01 05:06] Prarthit899 opened #1244 "SNOW-654844: Snowflake connector error while deploying app on streamlit"
Getting this error every morning after I deployed my code on streamlit
not able to figure out what the issue is here

Error Traceback:-
`File "/home/appuser/venv/lib/python3.9/site-packages/streamlit/script_runner.py", line 354, in _run_script
    exec(code, module.__dict__)
File "/app/recommendation-metrics/app/streamlit_app.py", line 61, in <module>
    recommendation_published_query_result = ru

[2022-09-01 09:08] ni-todo-spot opened #1245 "SNOW-654931: Driver implicitly converts query results into string while expecting to get an int"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
`Python 3.8.7`

2. What operating system and processor architecture are you using?
`macOS-12.5.1-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip freeze`)?
[code]

4. What did you do?
[code]

5. What did you expect to see?
`expected = [('INTEGER', 1), ('INTEG

[2022-09-07 20:27] im-evgenev commented on #970
Although it is not the proper solution, but a workaround, but if you want get all the columns in the pandas DataFrame and want to use * in SELECT clause of your query,  you may use pandas from_records method like this:

[code]

I absolutely agree that to write all the columns in the query is not very convenient when you have a lots of joins and the result holds hundreds of columns.

[2022-09-08 01:37] jacob-coalition commented on #1099
For those that are coming to this, everything is working as normal, can close this ticket. Docs should be updated though...

Steps to follow:

NOTE: `SNOWFLAKE_USER` was something different than I had used in past, must've gotten updated when company switched to Okta to login to SnowFlake.

To Find Snowflake Username:
1. Login to Snowflake in browser
2. Click on your name on the top right corner
3

[2022-09-08 05:14] sodul commented on #1118
Unfortunately cryptography 38 is out so PR #1124 would not be sufficient. I guess I'll file a new PR to allow at least up to 38 and I hope the maintainers will be able to accept it.

[2022-09-08 05:54] jpzhangvincent commented on #1205
This seems to be a big blocker for M1 users. Any chance to prioritize to fix this?

[2022-09-08 11:01] leifericf commented on #1205
I believe this is related to #857 (also, see https://github.com/pyca/pyopenssl/issues/873 for more info).

[2022-09-09 17:56] CainDelta commented on #1079
Check if you don't have multiple connections with different labels but with the same variable name ie snowflake connector and psycopg2 connector both called conn

[2022-09-11 08:58] AbdullahAlsayed commented on #438
hi
i'm getting the same error
what should i do to solve this

[2022-09-12 14:24] jordantshaw commented on #1205
@sfc-gh-mkeller What is the proposed solution here then?  This is a huge blocker for all M1 Mac users.

[2022-09-13 13:43] cpcloud opened #1248 "SNOW-659654: Support for arrow 9"
## What is the current behavior?

Arrow 9 doesn't work with snowflake-connector-python

## What is the desired behavior?

Arrow 9 works with snowflake-connector-python

## How would this improve `snowflake-connector-python`?

By allowing the latest arrow release to work with snowflake-connector-python

## References, Other Background

@saulpw and I are working on a Snowflake backend for https://gi

[2022-09-14 14:41] tstearns26 opened #1250 "SNOW-660127: support for pyarrow 9"
## What is the current behavior?
The current behavior doesn't allow for newer versions of pyarrow required for some GPU computing libraries

## What is the desired behavior?
Support for pyarrow 9

## How would this improve `snowflake-connector-python`?
allow for easier build for newest RAPIDS integration

## References, Other Background

[2022-09-15 00:25] phil-hawkins opened #1251 "SNOW-660632: Better support for EXTERNALBROWSER auth from local containers"
## What is the current behaviour?

EXTERNALBROWSER authentication is the best option in the case of SSO with MFA. However, when performed inside a local container such as a VSCode docker devcontainer, there is a race condition between the auth callback to the localhost and starting the receiver app on the localhost and auto-forwarding the randomly assigned port. This can lead to an intermittent fa

[2022-09-16 20:40] sfc-gh-achandrasekaran commented on #1205
Folks, we have documented a [workaround](https://docs.snowflake.com/en/developer-guide/snowpark/python/setup.html#prerequisites) for this issue for Python3.8. Do try it out and let us know.

[2022-09-17 01:33] AleksaC opened #1253 "SNOW-664703: Importing connector is slow"
Hi, I noticed that importing snowflake connector takes a long time:
[code]

This can be investigated using python builtin import time profiling and [tuna](https://github.com/nschloe/tuna):
[code]
![Screenshot from 2022-09-17 02-57-31](https://user-images.githubusercontent.com/25728391/190834303-c00e13c9-4a4b-46e8-9518-239538528a42.png)

[2022-09-20 09:15] leifericf commented on #1205
Thanks for the update, @sfc-gh-achandrasekaran!

Note that the first command in the guide, as it stands, leads to an error:

[code]

[2022-09-20 17:58] sfc-gh-achandrasekaran commented on #1205
Yep, that is it. We will update the docs. Thank you

[2022-09-20 18:02] sfc-gh-achandrasekaran commented on #857
Please follow this [workaround](https://docs.snowflake.com/en/developer-guide/snowpark/python/setup.html#prerequisites) on M1 machines

[2022-09-21 13:15] leifericf commented on #1205
FYI, I've got it working now. Thanks for providing a workaround.

[2022-09-23 15:25] captnswing commented on #1178
downgrading to snowflake-connector-python==2.7.6 fixed the problem. It seems to me it was introduced in version 2.7.7

[2022-09-24 03:55] alexwoolford commented on #1178
I experienced a similar issue. I tried downgrading as @captnswing  suggested. That didn't work in my case.

I added a little logging snippet:

[code]
... and notice that the data is copied into the table but, for some reason, the transaction is rolled back right at the end:

[code]

There's no error message.

[2022-09-26 14:50] WilkenSteiner opened #1259 "SNOW-668640: Dependency on `cryptography` conflicts with the one on `pyopensssl`"
Yesterday, `pyopenssl==22.1.0` has been released, which now requires `cryptography>=38.0`.
The requirement `cryptography<0.37` In combination with the dependency `pyopenssl<23.0.0` in `snowflake-connector-python` then results in failure to lock for Pipenv users.

Are there plans to upgrade `cryptography`? In the meantime, this could be fixed restricting `pyopenssl<22.1.0`. Is a PR welcome?

1. Wha

[2022-09-26 15:27] vatsalvora commented on #1259
#1247

[2022-09-26 15:29] vatsalvora commented on #1259
https://github.com/snowflakedb/snowflake-connector-python/pull/1247

[2022-09-26 16:40] jskrzypek commented on #1259
probably the easier PR for maintainers to accept: #1246

[2022-09-26 16:41] jskrzypek commented on #1118
dependabot also made a fix fir thus: #1246

[2022-09-26 16:53] kishorekumardv commented on #1178
Same issue here snowflake-connector-python==2.7.12, snowflake-sqlalchemy==1.4.1, SQLAlchemy==1.4.41
Tried downgrading and didn't work for me.

[2022-09-26 17:18] alexwoolford commented on #1178
I used `write_pandas` as a workaround:

[code]

It's not quite as elegant as `to_sql` but got the job done.

[2022-09-26 20:04] omptech opened #1260 "Downloading snowflake-connector-python-2.3.10.tar.gz (324 kB) ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 324.5/324.5 kB 69.6 MB/s eta 0:00:00 Installing build dependencies: started Installing build dependencies: still running... Installing build dependencies: finished with status 'error' error: subprocess-exited-with-error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.9

2. What operating system and processor architecture are you using?

   ubuntu-20.04 and 64 bit

[2022-09-26 20:13] sfc-gh-achandrasekaran commented on #1260
Hi @omptech what is the issue exactly?

[2022-09-26 20:15] sfc-gh-sfan commented on #1260
Hi @omptech can you post complete log lines?

[2022-09-26 20:37] omptech commented on #1260
pip install snowflake-connector-python is not working in azure devops build pipeline

[2022-09-26 20:44] #679 closed

[2022-09-26 21:12] sfc-gh-sfan commented on #1260
Can you provide more logs for the failure? I'm not sure I know the details of this "azure devops build pipeline" to provide help.

[2022-09-27 17:16] theguyoverthere commented on #341
yes

[2022-09-28 01:47] burkaygur opened #1262 "SNOW-669650: write_pandas is not atomic"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.9.2

2. What operating system and processor architecture are you using?

    macOS-10.15.4-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

   snowflake-connector-python==2.8.0
   snowflake-sqlalchemy==1.4.1
   pandas==1.4.4
   pyarrow=

[2022-09-28 10:40] al-cheb commented on #1260
This issue is not related to `snowflake-connector-python` pacakge , it's by design how pip works:
1. requirement.txt - https://github.com/actions/runner-images/files/9657507/requirement.txt
2. pip3 install -r requirement.txt
3. Failed logs:  [4_Run pip3 install -r requirements.txt.txt](https://github.com/snowflakedb/snowflake-connector-python/files/9664084/4_Run.pip3.install.-r.requirements.txt.tx

[2022-09-28 10:41] csetzkorn commented on #1034
I still get this error despite specifying schema and db ... looking at the code, I think it is fixed? I use version 2.7.12.

[2022-09-28 11:25] sfc-gh-nsemmler opened #1263 "SNOW-669760: Union types returned by cursor.fetchone (and similar) require extensive casting on user side"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.6.8

2. What operating system and processor architecture are you using?

   Linux-5.16.13-generic-aarch64-with-centos-7.9.2009-AltArch

3. What are the component versions in the environment (`pip freeze`)?

   This has no impact on the issue.

4. What did you do?

   `cursor.e

[2022-09-28 12:41] gartho commented on #574
What is the status of this issue? I've just run into the same problem. I've using the documented python connector and it's dependencies as described in the installation notes, and using the provided sample data results in sporadic issues relating to the ArrowException.

Is the issue with the Snowflake demo data, or an issue with the Python connector framework?

[2022-09-28 12:52] cpcloud commented on #1250
I opened #1248 one day before this issue was opened. Perhaps we should close this one?

[2022-09-28 18:18] velicanu opened #1265 "SNOW-669945: BUG: snowflake-connector-python versions >= 2.7.8 have incompatible dependencies"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.13

2. What operating system and processor architecture are you using?

macOS-11.6.7-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

5. What did you expect to see?

Doing the exact steps above with `

[2022-09-28 19:05] sfc-gh-sfan commented on #1262
`overwrite` is a new feature introduced recently but as you said it does not seem to handle atomicity well. This looks like something that should be fixed when `overwrite` is enabled. @iamontheinet : Do you want to take this up since you originally contributed `overwrite`?

[2022-09-28 19:09] sfc-gh-sfan commented on #1263
This is basically a type annotation issue? I believe the returned type is already determined by the cursor type. @sfc-gh-mkeller : Does this sound right?

[2022-09-28 20:12] sfc-gh-sfan commented on #1265
It seems like incompatible dependencies on `cryptography` between `snowflake-connector-python` and `pyOpenSSL`. We should probably bump the version of `cryptography` on `snowflake-connector-python`.

@sfc-gh-mkeller: If that makes sense I could put up a PR to update the dependency.

[2022-09-28 20:38] sfc-gh-mkeller commented on #1265
Let's try doing that!

[2022-09-28 20:40] sfc-gh-mkeller commented on #1263
I have reviewed the proposed PR and I gave a how to fix this issue in the long term there. Please refer to https://github.com/snowflakedb/snowflake-connector-python/pull/1264#discussion_r982745867

[2022-09-29 09:51] krish-adi opened #1267 "SNOW-670332: Creating procedure using functions with variable arguments (*args)"
Trying to create a UDF using the snowflake connector by executing this statement. This seems to work for creating a UDF, but not for a Store Procedure. It seems that, while the statement is executed, there is an AST Parser that is executed to check for the arguments.

I would like to take in variable arguments, so that I could modify my function depending on the requirements. Is there a way to ach

[2022-09-29 15:18] speedyturkey commented on #1259
Thanks for this report, my org is affected by this as well. We would love to see #1246 merged in the near future.

[2022-09-29 16:38] sfc-gh-sfan commented on #1267
@krish-adi : Can you post this in https://github.com/snowflakedb/snowpark-python instead? I'm going to close this one.

[2022-09-29 16:38] sfc-gh-achandrasekaran commented on #1250
Yep closing this in favor of 1248

[2022-09-29 16:39] sfc-gh-sfan commented on #1267
Actual

[2022-09-29 16:42] krish-adi commented on #1267
I'll delete the one I posted in snowpark then.

[2022-09-29 16:43] sfc-gh-sfan commented on #1267
@krish-adi : sorry for the confusion, we could keep it here.

[2022-09-29 16:45] sfc-gh-sfan commented on #1267
Using `*args` in general does not make sense because the definition of the UDF/SP contains the number of arguments as well. I'm a bit surprised that it would work with python UDF. How would you pass in variable arguments if the definition of the UDF only takes one argument?

[2022-09-29 17:12] krish-adi commented on #1267
When I define the UDF/SP I programmatically add or remove the arguments using string manipulation.

But, when I actually write the handler, I don't want to do this. And I pass `*args` to the function. This works fine with a handler, but not for a SP. For now, I've resorted to use string manipulation.

[2022-09-29 18:53] #1265 closed

[2022-09-29 21:59] sfc-gh-yixie commented on #1267
@sfc-gh-sfan Does the SP server check the arguments of the handler function? We can remove this validation.

[2022-09-29 22:45] sfc-gh-sfan commented on #1267
@sfc-gh-yixie : Yes. I just checked and it seems like in UDF the check considered varargs, but not SP. We should improve our validation, instead of removing it. I added an internal ticket for it and we will try to address this in the next couple of weeks. Please be aware that the snowflake release itself also takes time.

[2022-09-29 23:39] sfc-gh-sfan commented on #1267
And again, thanks for raising it to us!

[2022-09-30 10:11] sfc-gh-nsemmler commented on #1263
@sfc-gh-sfan Yes, this is a type annotation issue.

[2022-09-30 12:30] kotofos opened #1269 "Login did not fails instantly on 403 response"
1. What version of Python are you using?

Python 3.9.8 (main, Nov 10 2021, 11:10:16)
[GCC 7.5.0]

2. What operating system and processor architecture are you using?

Linux-5.14.21-150400.24.11-default-x86_64-with-glibc2.31

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

Used wrong account ID without dot in it. Like `XXXX`

The user provides the

[2022-09-30 14:13] jskrzypek commented on #1259
Weird, dependabot closed #1246 saying cryptography is no longer available...

[2022-09-30 18:03] sfc-gh-sfan commented on #1269
These seem like something we should fix and don't seem very hard at the first glance. @sfc-gh-mkeller What do you think?

[2022-10-01 08:42] cxkarthvis opened #1270 "SNOW-671305: Unable to convert TIMESTAMP_LTZ into a type (PyArrow path)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

Tried calling this SF Query with ```SELECT CURRENT_ACCOUNT(), CURRENT_CLIENT(), CURRENT_TIMESTAMP()``` wi

[2022-10-03 14:21] YoniMelki opened #1271 "SNOW-671608: Users are not notified when CAN_USE_ARROW_RESULT_FORMAT is changed"
## What is the current behavior?
When defining `CAN_USE_ARROW_RESULT_FORMAT` if we fail to import `PyArrowIterator` for some reason, we are noticed on the **DEBUG** level

## What is the desired behavior?
When defining `CAN_USE_ARROW_RESULT_FORMAT` if we fail to import `PyArrowIterator` for some reason, we want to be noticed on the **ERROR** level

## How would this improve `snowflake-connector-py

[2022-10-03 22:41] sfc-gh-achandrasekaran commented on #1262
@burkaygur we will look at this issue in the next couple weeks.

[2022-10-04 04:13] burkaygur commented on #1262
Sounds good @sfc-gh-achandrasekaran! Thank you very much ❄️

[2022-10-04 08:29] jekaterinakletnaja commented on #1034
From the code it seems that `database` and `schema` parameters are not used in the `write_pandas` code that is related to temporary stage - it refers only to the stage’s name. Therefore, in case the connection provided to `write_pandas` has no database and/or schema, execution fails, even if database and/or schema are provided as arguments to the `write_pandas` itself. Thus, indication of database

[2022-10-04 10:02] YoniMelki commented on #544
any update on this issue? We are facing the same problems and currently cannot use Arrow as well

[2022-10-07 16:09] brentonmallen1 commented on #1205
Unfortunately, this workaround doesn't help when attempting to pair snowpark with tensorflow on an M1.  tensorflow (installed via miniforge) requires `osx-arm64`.  For the moment, I'm using two environments which isn't ideal but just thought I'd point out this edge case

[2022-10-10 20:07] captnswing commented on #1178
upgrading to snowflake-connector-python==2.8.0 fixed the problem for me

[2022-10-11 14:01] speedyturkey commented on #1259
Fortunately, it looks like #1266 has resolved things, so this issue should be closed.

[2022-10-11 15:53] WillKoehrsen commented on #1259
Since #1266 isn't included in a release tag yet, you can install the specific commit in `pipenv` with

[code]

[2022-10-12 11:04] arsatiki opened #1276 "SNOW-676645: Add connector support for keypair authentication using hardware security modules or cloud key managers"
## What is the current behavior?

Current Snowflake keypair authentication requires that the user has the private key in their possession as a file. However, Hardware Security Modules (e.g. Smartcards, Yubikeys, …) and Cloud Key Managers do not expose the private key to the user. Instead, they provide cryptographic operations as API functionality. I can, for example, ask the HSM to sign a certain

[2022-10-13 10:34] budaesandrei commented on #1178
I think I found the issue. I've been struggling with the same.
A bit of background. In my company we are using SSO so I have to use the `authenticator = 'externalbrowser'` option in `URL`. Because of this I set `engine = create_engine(URL(...)).connect()` instead of `engine = create_engine(URL(...))` so that when I use multiple `pd.read_sql` it's not triggering the login sequence. It works fine wi

[2022-10-13 12:07] sfc-gh-nsemmler opened #1279 "SNOW-677289: Bus error for 2.7.4 / py 3.6"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Replace with the output of Python 3.6.8

2. What operating system and processor architecture are you using?

   Linux-5.16.13-generic-aarch64-with-centos-7.9.2009-AltArch

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

   If possible

[2022-10-13 21:47] mhconradt opened #1280 "SNOW-677790: OBJECT shouldn't be returned as a string"
This is somewhere in between a bug and a feature request, but it should be known that objects are mapped to JSON strings when using `fetch_arrow_all()`:
[code]
and also simple `fetchall()`:
[code]
and I think `fetch_arrow_all()` should return an Arrow struct type so the client doesn't need to map to JSON:
[code]
and `fetchall()` should use the Python `dict` type instead of a JSON string.

My point

[2022-10-13 22:42] sfc-gh-aling commented on #574
hey folks, thanks for your patience, we got some updates for you.

We have located the issue -- it's within the Snowflake demo data some of which is encoded in `latin-1` instead of `utf-8`. Our Python connector is trying to decode the `latin-1` encoded bytes with `utf-8` leading to the decode error. This is not a connector issue but something went wrong with the sample data.

We're working with th

[2022-10-13 22:45] sfc-gh-aling commented on #1004
echoing what I have replied in the issue: https://github.com/snowflakedb/snowflake-connector-python/issues/574

Our Python connector is trying to decode the `latin-1` encoded bytes with `utf-8` leading to the decode error. This is not a connector issue but something went wrong with the sample data.

I wish this helps answer your questions. let me know if there's more I could help.

[2022-10-14 17:11] sunil-earnup commented on #319
Workaround can be create column in snowflake as varchar and copy data, then if you cast it timestamp with to_timstamp, it shows the correct datetime. If someone does not want to change the code from pandas to fastparquet.

[2022-10-14 18:12] sfc-gh-aling commented on #1004
good news folks, the sample data has been re-encoded with `utf-8`, could you take a try?

[2022-10-14 18:12] sfc-gh-aling commented on #574
good news folks, the sample data has been re-encoded with `utf-8`, could you take a try?

[2022-10-17 08:56] claudiazi opened #1282 "SNOW-679107: fetch_pandas_all not all columns with NUMBER(38, 2) converted to float64, some converted to object"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   `Python 3.8.9 `

2. What operating system and processor architecture are you using?

   `macOS-11.6.4-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip freeze`)?

`aiofiles==0.8.0
aiohttp==3.8.1
aiosignal==1.2.0
aiosqlite==0.17.0
alembic==1.8.1
anyio==3.6.

[2022-10-17 20:25] sfc-gh-mkeller commented on #1282
This is expected, a `NUMBER(38,0)` won't necessarily fit into a [float64](https://arrow.apache.org/docs/python/generated/pyarrow.float64.html#pyarrow.float64).
Please see the more in depth explanation here: https://stackoverflow.com/a/56515598
In general `float64` is precise for ~15 significant figures. 38 significant figures calls for [decimal128](https://arrow.apache.org/docs/python/generated/py

[2022-10-17 20:50] sfc-gh-mkeller commented on #1227
`PUT` and `GET` statements are just not supported by `execute_async`. The problem is that we'd need a SQL parser to find them. However; we should probably improve our documentation [here](https://github.com/snowflakedb/snowflake-connector-python/blob/32b459e7807413296dd431c508186ef45c17ce11/src/snowflake/connector/cursor.py#L810) to include this information.

Would one of you like to open a PR for

[2022-10-17 21:11] #1199 closed

[2022-10-18 05:32] hauntsaninja opened #1284 "SNOW-679732: Please stop aggressively upper bounding cryptography"
This is causing a lot of pain for users. See for example https://github.com/snowflakedb/snowflake-connector-python/issues/1259 and https://github.com/snowflakedb/snowflake-connector-python/issues/1118 (would love a release for https://github.com/snowflakedb/snowflake-connector-python/pull/1266 by the way :-) )

Here's a writeup about why always preemptively upper bounding is a bad idea: https://is

[2022-10-18 12:56] claudiazi commented on #1282
many thanks for the very clear explanations!

[2022-10-18 12:56] #1282 closed

[2022-10-18 18:59] sfc-gh-aling commented on #574
I'm closing the issue now, feel free to reach out or reopen the issue if you have any other questions regarding to this topic.

[2022-10-18 18:59] #574 closed

[2022-10-18 18:59] sfc-gh-aling commented on #1004
I'm closing the issue now, feel free to reach out or reopen the issue if you have any other questions regarding to this topic.

[2022-10-18 18:59] #1004 closed

[2022-10-18 22:20] tekumara opened #1285 "cursor.execute can return None which requires checking"
## What is the current behavior?

SnowflakeCursor execute returns `SnowflakeCursor | None`.

This means every excecute needs to be checked for None. eg:

[code]

If the check isn't performed then pyright/vscode will error with

[code]

Or the application with fail at runtime.

## What is the desired behavior?

cursor.execute does not return None for any cases, therefore avoiding the need for a Non

[2022-10-18 22:56] sfc-gh-sfan commented on #1285
According to the function documentation, `None` does have legit meaning, so I'm not sure if removing it is the correct behavior.

https://github.com/snowflakedb/snowflake-connector-python/blob/98677d56a6031b8bafb2765a1a2d2976397b0308/src/snowflake/connector/cursor.py#L624-L625

[2022-10-19 09:22] tekumara commented on #1285
Yeh None is returned when the caller provides an empty command:

https://github.com/snowflakedb/snowflake-connector-python/blob/98677d56a6031b8bafb2765a1a2d2976397b0308/src/snowflake/connector/cursor.py#L643

Could this be a ValueError exception instead perhaps?

From the [python docs](https://docs.python.org/3/library/exceptions.html):

Raised when an operation or function receives an argument th

[2022-10-19 16:15] sfc-gh-sfan commented on #1285
This is going to be a behavior change, but it might not be a bad idea. WDYT? @sfc-gh-mkeller

[2022-10-19 19:56] ynouri commented on #1259
We have the same issue and can see how this is solved in main. However the VCS style requirement ([as suggested by Will above](https://github.com/snowflakedb/snowflake-connector-python/issues/1259#issuecomment-1274920088)) does not work nicely everywhere. For example we are using [Pants](https://www.pantsbuild.org/) in our monorepo and we had to spend a few hours to figure out what hoops we needed

[2022-10-21 04:07] psukys commented on #1034
Sounds good, I'll close the PR

[2022-10-21 11:13] kleschenko opened #1289 "Python 3.11 wheels"
## What is the current behavior?
It is not possible to install the `snowflake-connector-python` using Python 3.11

## What is the desired behavior?
Python 3.11 is expected to be released next week, and it would be nice to be able to use the `snowflake-connector-python` with the recent Python version. It seems like all the underlying dependencies already have wheels available for 3.11

## How would

[2022-10-21 15:53] sfc-gh-sfan commented on #1289
Thanks for the feedback. We plan to work on this early next year.

[2022-10-21 17:31] ofek commented on #1284
It's causing massive issues for us as well.

@keller00 WDYTA removing the cap?

[2022-10-25 05:08] jglapa opened #1293 "SNOW-683423: DML statements don't support parameter binding of any type"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   `Python 3.9.12`

2. What operating system and processor architecture are you using?

   `macOS-12.4-arm64-arm-64bit`

3. What are the component versions in the environment (`pip freeze`)?

   `snowflake-connector-python==2.7.4`

4. What did you do?

   Trying to run DML statements with

[2022-10-25 06:18] sfc-gh-mkeller commented on #1284
I don't think that this makes pining any less of an issue, imagine that we are on `x.y.z`, the upper pins looks like `x+1.0.0` what happens if method `abc` was deprecated since `x-2.0.0`? This is not something that we can rely on without running our tests against the bumped dependency. This is what dependabot was supposed to help us with. I guess it's not currently working as we had hoped. I've fi

[2022-10-25 08:37] alopezz commented on #1284
We're also waiting for the release of #1266 in order to be able to update another important dependency without having to resort to patching.

According to [`cryptography`'s deprecation policy](https://cryptography.io/en/stable/api-stability/#deprecation), features on their way to deprecation will emit `UserWarning`s. Therefore, it should be easy enough to check for the presence of those warnings w

[2022-10-25 09:07] idanmiara commented on #1289
Hi @sfc-gh-sfan,
Thanks for looking into this!
Just curios - Is building wheels for 3.11 would require more than just adding it to the version build list?
Are there any incompatibilities that you think might need to be addressed in order for the build to be successful?

[2022-10-25 16:26] mitch-tanney-coterie commented on #1015
@sfc-gh-hkapre & @sfc-gh-jhollan, do either of you by chance have any updates to report on this issue? A status update on any development work and/or a priority update would be greatly appreciated whenever your schedules allow. We are currently leveraging the snowflake connector in a Databricks notebook, but we aren't able to return data currently as desired because our query uses multiple variabl

[2022-10-25 19:10] sfc-gh-jbi commented on #1293
Hi, you can do `CREATE DATABASE IDENTIFIER(?)`. https://docs.snowflake.com/en/sql-reference/identifier-literal.html

[2022-10-25 22:27] sfc-gh-sfan commented on #1289
Personally I think we need to make sure it passes all existing tests for the platforms we support, but there might be something that I'm not aware of as this is also the first time for me to experience supporting a new python version :)

[2022-10-26 03:02] trevorsweeney commented on #1178
This worked for me as well, interesting.  Thank you!

[2022-10-26 06:29] sfc-gh-mkeller commented on #1015
#1281 👀

[2022-10-26 06:44] sfc-gh-mkeller commented on #1284
In that case we could turn warnings into errors during test runs. According to [the docs](https://docs.pytest.org/en/7.1.x/how-to/capture-warnings.html?highlight=warnings%20errors#controlling-warnings) this might be as easy as adding to [tox.ini](https://github.com/snowflakedb/snowflake-connector-python/blob/5a4e7a6a3b1a39a9e3cf6be6d16655f435d62e00/tox.ini#L150):
[code]

I'll schedule someone to t

[2022-10-27 00:25] daychr opened #1299 "SNOW-684591: Deadlock During OCSP Validation"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

3.9.14

2. What operating system and processor architecture are you using?

Linux-5.4.0-1072-azure-x86_64-with-glibc2.31

3. What are the component versions in the environment (`pip freeze`)?

   apache-airflow==2.4.1+astro.1
   apache-airflow-providers-snowflake==2.5.0
   snowflake-conne

[2022-10-27 03:32] hauntsaninja commented on #1284
Thank you for being open to this!

I think turning warnings into errors and loosening to `<n+3` seems like a win-win situation (assuming you remember to keep bumping it / dependabot knows to keeps the n+3 going)

An automatically but officially maintained fork with less restrictive upper bounds is an interesting idea. But it gets a little tricky if snowflake-connector-python is ever a transitive d

[2022-10-27 13:05] anthonnyO commented on #1205
I have get around this problem by updating my python version to 3.10 ( I've created a new conda environment with 3.10) and install snowflake-connector-python on it

[2022-10-27 16:35] somilagarwalgit opened #1300 "After installing snowflake connector with this command pip install snowflake-connector-python is installing cryptography version36.0 therefore it is giving below error."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
 -  3.7.10

2. What operating system and processor architecture are you using?

 - Linux-4.14.291-218.527.amzn2.x86_64-x86_64-with-glibc2.2.5

3. What are the component versions in the environment (`pip freeze`)?

 - asn1crypto==1.5.1
aws-cfn-bootstrap==2.0
beautifulsoup4==4.9.3
boto==2.49

[2022-10-27 17:14] aaronolszewski opened #1301 "SNOW-684841: EOFError: Ran out of input after upgrading to 2.8.0"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
`Python 3.9.6`
2. What operating system and processor architecture are you using?
`Linux-3.10.0-1160.71.1.el7.x86_64-x86_64-with-glibc2.17`

3. What are the component versions in the environment (`pip freeze`)?
[code]

4. What did you do?

This only happens occasionally so it's hard for me

[2022-10-28 09:38] malduarte commented on #1284
What  @hauntsaninja said! Also, it would be helpful to get some release date guidance. The latest released version at the moment is v2.8.0 and is preventing upgrade to the latest [cloud-composer release](https://cloud.google.com/composer/docs/concepts/versioning/composer-versions) as it depends on cryptography 37.0.4. I've noticed that main has already the necessary changes.

[2022-10-28 17:08] daychr commented on #1299
We've identified a potential conflict with [OpenLineage](https://openlineage.io/blog/python-client/) that may be responsible for this behavior. This package is enabled by default in [Astronomer](https://docs.astronomer.io/astro/set-up-data-lineage) 4.2.0+ and attempts to collect metadata before the Snowflake query is run. Because we are not currently using this feature, we tried disabling OpenLine

[2022-10-31 20:19] mvashishtha opened #1305 "SNOW-686297: Support pandas 1.5"
## What is the current behavior?
The latest release, snowflake-connector-python[pandas]==2.8.0, depends on pandas<1.5.0.

## What is the desired behavior?
Support pandas >= 1.5.0

## How would this improve `snowflake-connector-python`?
Lets people use the latest version of pandas. Also let's people use the connector with the latest version of [modin](https://github.com/modin-project/modin/), a dro

[2022-10-31 22:57] ArashMehraban opened #1306 "SNOW-686461: Can I add pandas and numpy to this list and have layer less that 50M in zipped format?"
Is it possible to add pandas and numpy to this list: https://github.com/snowflakedb/snowflake-connector-python/blob/main/tested_requirements/requirements_38.reqs and the zip folder stays under 50M?

[2022-11-01 03:45] mvashishtha commented on #1071
Duplicate of #1036

[2022-11-01 18:07] ofek commented on #1284
Any update on this?

[2022-11-01 19:45] #1305 closed

[2022-11-02 06:45] coboyoyo commented on #1300
same

[2022-11-02 10:55] fredrike opened #1312 "SNOW-687826: Issues with pd_write and table names"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

`Linux-5.4.0-1074-azure-x86_64-with-glibc2.17`

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

   I ran the following code:

[code]
5. What did you expect to se

[2022-11-02 14:23] holeinone986 opened #1313 "Using Temporary tables after write_pandas"
## What is the current behavior?
When using write_pandas the cursor is closed afterwards regardless of table type
## What is the desired behavior?
When table type is temp or temporary cursor should be left open so the temp table can be used after table creation
## How would this improve `snowflake-connector-python`?
Would allow for use of temp tables in other sql queries such as using the temp tab

[2022-11-02 14:34] holeinone986 commented on #1313
Or ability to pass the open cursor to a variable

[2022-11-02 14:49] CrispyCrafter commented on #1289
I find this quite suprising.
Snowflake is the only library in our entire eco-system that has not released a 3.11 wheel

[2022-11-03 10:27] sfc-gh-nsemmler opened #1315 "Improve usability for Jupyter notebooks users by exposing a webbrowser config option"
## Setup

[code]

## What is the current behavior?

Authentication by 'externalbrowser' cannot open a window if the user is using the connector via a server.

Why? Because the connector relies on the webbrowser package and the webbrowser package is currently not configurable.

## What is the desired behavior?

Authentication by 'externalbrowser' does open a window on the client side.

How? By maki

[2022-11-03 14:38] drew-hansen opened #1316 "SNOW-688679: AttributeError: module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK'"
I am getting the following error since the 2.8.1 release yesterday. I believe the error is coming from pyOpenSSL:

AttributeError: module 'lib' has no attribute 'X509_V_FLAG_CB_ISSUER_CHECK'

1. What version of Python are you using?

   3.8.14

2. What operating system and processor architecture are you using?

   Ubuntu 20.04.5

3. What are the component versions in the environment (`pip freeze`)

[2022-11-04 17:58] ChuliangXiao commented on #600
Having similar issue with **Snowpark** `write_pandas` and `createDataFrame`, a Pandas timestamp column
* `with TimeZone` --> `TIMESTAMP_NTZ` in Snowflake
* `without TimeZone` --> `NUMBER` in Snowflake

[2022-11-04 18:19] scottl33 commented on #1073
We had a user that was experiencing this error, the machine had the following:
Python Vers: 3.9.0
snowflake-connector-python: 2.7.12

The fix was upgrading to Python version 3.9.10 on the same snowflake conn version.

[2022-11-04 18:30] YEM-1 commented on #1073
I've experienced this on a lot of machines now. There are many combinations of Python interpreter / snowflake connector version that conflict. That's why it's important to control the versions used with something like pipenv.

I even experienced this with dbt recently. Their own installation guide to install dbt 1.0 installed a conflicting version for me. Then I had to upgrade the snowflake connec

[2022-11-04 20:22] thrichardson-twist commented on #1316
Our production pipeline is broken for this as well.

[2022-11-04 20:54] ihatec0d1ng opened #1320 "SNOW-689565: Snowflake Connector unable to upload file from Lambda Ephemeral Storage"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

3.9
2. What operating system and processor architecture are you using?

   Windows-10-10.0.19041-SP0

3. What are the component versions in the environment (`pip freeze`)?
asn1crypto==1.5.1
atomicwrites==1.4.0
attrs==21.4.0
black==22.6.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
char

[2022-11-06 22:58] ironerumi commented on #1205
@anthonnyO Can we install snowflake-connector-python in 3.10? I tried to use pip but got the following error.

ERROR: Ignored the following versions that require a different python version: 0.10.0 Requires-Python ==3.8.*; 0.11.0 Requires-Python ==3.8.*; 0.12.0 Requires-Python ==3.8.*; 0.6.0 Requires-Python ==3.8.*; 0.7.0 Requires-Python ==3.8.*; 0.8.0 Requires-Python ==3.8.*; 0.9.0 Requires-Python

[2022-11-07 13:54] WilkenSteiner commented on #1259
Closing, because the constraint on `cryptography` was relaxed.

[2022-11-07 13:54] #1259 closed

[2022-11-07 21:48] #1262 closed

[2022-11-07 23:19] mhconradt commented on #1280
For anyone interested, I've determined this would be difficult / impossible because the JSON objects may have incompatible schemas that are not straightforward to resolve, i.e. arrays with GeoJSON `Point` and `Polygon` objects can't even be created by `Table.from_pylist()`.

[2022-11-07 23:19] #1280 closed

[2022-11-08 03:12] tekumara opened #1323 "Support SecretStr/SecretBytes or equivalent to avoid password/private key being exposed in failed test"
## What is the current behavior?

By default pytest will log function parameter values in stack traces.

So when failing to connect to snowflake (eg: due to a timeout, network error etc.) the password is exposed in plain text.

eg:

[code]

## What is the desired behavior?

Password can be provided as [SecretStr](https://pydantic-docs.helpmanual.io/usage/types/#secret-types), and private key can b

[2022-11-09 09:17] gartho commented on #574
I'm still seeing this issue - is there something we need to do with the sample data? Do tables need to be recreated?

[2022-11-09 09:44] adityakumar1990 opened #1324 "SNOW-691434: snowflake.connector.network.RetryRequest: HTTPSConnectionPool(host='xxx', port=443): Read timed out. (read timeout=60)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
   python 3.10

2. What operating system and processor architecture are you using?
   Linux

3. What are the component versions in the environment (`pip freeze`)?

snowflake-connector-python==2.7.11

4. What did you do?

I am making concurrently multiple connection with host , sometimes it

[2022-11-09 11:52] sfc-gh-nsemmler opened #1325 "SNOW-691474: Connector retries 12 times - Application hangs for 12 minutes before failing"
Let's say you want to login at a server, but you are in the wrong network. You have configured the `login_timeout` to 60 seconds. How long would you expect to wait before the call to connect fails?

No, it's not 60 seconds it is more than 12 minutes.

Why?
- The connector attempts to authenticate twice.
- The connector attempts to create the connection connection twice.
- urllib3 attempts the conn

[2022-11-09 13:33] feluelle commented on #1212
Hey @aduverger,
https://github.com/snowflakedb/snowflake-connector-python/pull/932 could be of interest to you.

[2022-11-09 14:58] jonashaag commented on #1220
Any news on this?

[2022-11-09 21:46] sfc-gh-aling commented on #1325
hey @sfc-gh-nsemmler , thanks for collecting the logs, and providing the feedback.

I definitely agree upon that the timeout and retry mechanism needs more clarity -- specifically in your case, I see multiple ways in interpret the timeout as per try timeout or total timeout which could lead to confusion.

I need to think over this to see if we could introduce a fine-grained timeout/retry config to

[2022-11-10 10:38] UmutZho commented on #1178
This worked for my use cases as well. Thank you!

[2022-11-10 12:07] sfc-gh-nsemmler commented on #1279
This is resolved by using a newer pyarrow/arrow version. I have seen another ticket addressing this. (Cannot find it right now.) So closing this.

[2022-11-10 12:07] #1279 closed

[2022-11-10 15:18] adityakumar1990 commented on #1324
Any update on this gyus?

[2022-11-10 15:23] adityakumar1990 commented on #1325
Hi , can you help me to figure out the changes for the https://github.com/snowflakedb/snowflake-connector-python/issues/1324 issue

[2022-11-15 07:39] ozturkberkay opened #1329 "Connector is leaking HTTP(S)_PROXY environment variables"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   3.8.12

2. What operating system and processor architecture are you using?

   macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

  snowflake-connector-python==2.8.1
  boto3==1.26.8

4. What did you do?

[code]

[code]

5. What did you

[2022-11-16 13:49] susana-llobera opened #1331 "SNOW-695095: ModuleNotFoundError: No module named 'snowflake.connector'; 'snowflake' is not a package"
Dear Snowflake team,

We are trying to connect with Python to Snowflake DDBB and we are recieving this error eventhough we adapt the requirements and python version :

ModuleNotFoundError: No module named 'snowflake.connector'; 'snowflake' is not a package

**Python Version :**
3.8.6

**Pip installation tried (Requirements)**
pip install snowflake-connector-python[pandas]==2.8.1
pip install snowfl

[2022-11-16 16:38] jamesdunham commented on #1331
Do you by chance have a script named `snowflake.py` in your working directory?

[2022-11-17 06:22] susana-llobera commented on #1331
@jamesdunham thanks for the hint...
Two days trying to figure it out and it's the clumsiest thing that's ever happened to me
Sorry for bothering you :)

[2022-11-17 06:22] #1331 closed

[2022-11-17 12:54] SM-Spryfox commented on #1331
I unfortunately fell into the same trap. Thank you so much.

[2022-11-17 13:55] shahargl commented on #1289
Any news?

[2022-11-17 20:21] dhuang commented on #1325
+1 we would appreciate more fine-grained timeout/retry config!

[2022-11-18 00:16] 1234shel opened #1337 "SNOW-696579: KeyError: 'keyring.backends'"
Started getting this error all of a sudden this morning.
My code is as follows:
[code]

The error pops up on the import snowflake.connector line. This whole thing was working perfectly well yesterday and today it just broke. This code is running on AWS sagemaker notebook using the Python 3 (Data Science) kernel.

[2022-11-18 13:49] marcellovictorino commented on #1337
Exact same situation here. Is it perhaps the impact of a transient dependency?
Had some issues in the past with the infamous GLIB error due to packages like `cryptography` no longer supporting the old linux image used by AWS (specifically Lambda)

[2022-11-18 14:45] phobson commented on #1248
In addition to the RAPIDS team, allowing `snowflake-connector-python` to work with pyarrow 9 would be very useful to dask users who rely on the [coiled-rutime](https://github.com/coiled/coiled-runtime/) to easily setup the computation environment of their distributed workers.

[2022-11-18 19:46] 1234shel commented on #1337
Thanks! I haven't tried that. I actually fixed the problem by switching to python base kernel and then just manually installing the packages I needed. I think there are some issues with sagemaker python 3 data science kernel.

[2022-11-18 19:57] srdennett commented on #277
Just ran into this issue.  After some testing I found the error is triggered with a timestamp on or after 2262-04-11 23:47:17.000.

[2022-11-18 21:42] fpmc1 opened #1339 "SNOW-697064: CVE-2022-42965"
https://nvd.nist.gov/vuln/detail/CVE-2022-42965#match-8529242

[2022-11-18 21:48] sfc-gh-achandrasekaran commented on #1339
We are aware and will have a fix out soon.

[2022-11-18 23:30] #1339 closed

[2022-11-20 19:02] xhochy commented on #1248
We're successfully building the conda package with arrow 9, thus a bump in the package metadata should be sufficient.

[2022-11-22 03:03] #1337 closed

[2022-11-22 07:44] mbwmbw1337 opened #1342 "Python Connector Randomly Stopped Working - Won't Connect"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.13 (main, Sep  4 2022, 17:18:12)
[Clang 13.1.6 (clang-1316.0.21.2.5)]

2. What operating system and processor architecture are you using?

macOS-13.0.1-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

5

[2022-11-22 07:59] mbwmbw1337 commented on #1325
Seeing a similar issue in #1342

[2022-11-22 08:14] mbwmbw1337 commented on #1342
The issue was resolved by clearing the snowflake cache directory (/Users/michael/Library/Caches/Snowflake) -- I highly recommend that the showflake team build a fix for this into the system. The connection would not fail at all would stay open for hours.

[2022-11-22 16:41] sfc-gh-aling commented on #1342
thanks for the reaching out and sharing us with the stack, we will investigate this as soon as possible

[2022-11-22 18:52] mbwmbw1337 commented on #1342
The workaround, for now, is below. I have validated that this only happens in certain instances and the entire connect hangs indefinitely if a file in the cache directory is corrupted. Essentially, I put a hard timeout to flush the cache directory if the connection does not connect. This has resolved the issue.

[code]

[2022-11-22 19:04] sfc-gh-aling commented on #1342
thanks @mbwmbw1337 for the detailed issue description and glad to know that you got a workaround for it.

I will re-open the issue for tracking such that any other people who might encounter the same issue could take a reference of your solution.

meanwhile we'll investigate and try to get it fixed asap.

[2022-11-22 19:44] sfc-gh-aalam commented on #1178
Looking at pandas code gives me some more hint towards the problem. See: https://github.com/pandas-dev/pandas/blob/v1.5.1/pandas/io/sql.py#L1396-L1399

Based on this, either @budaesandrei's solution works, or if you would like to use `engine.connect() as conn` use this:
[code]

[2022-11-22 19:44] #1178 closed

[2022-11-22 20:15] mbwmbw1337 commented on #1342
I was developing with intermittent internet, so it seems it may need to be the perfect storm of events to occur. I have tried manually corrupting the JSON files in the cache, but that didn't seem to do it. I wish I had backed up the infringing files before deleting them. The easiest solution might be if a method occurs on the authentication more than ten (10) times in a row to wipe the cache autom

[2022-11-22 22:10] sfc-gh-aling commented on #1284
I'll echo that n+3 is a win-win solution here after discussion with @sfc-gh-mkeller.

We want users who pin their connector in their environment to have a compatible cryptography, also we will take advantage of the dependentbot to help us automatically bumping the version.

We have a PR out to loosen the cryptography version to latest + 3 and we will treat any cryptography UserWarning as a warning

[2022-11-22 23:14] #1284 closed

[2022-11-23 08:15] noamcohen97 opened #1345 "SNOW-698916: Pyarrow 8 is not compatible with Python 3.11"
Pyarrow 10.0.1 just released today (supports Python 3.11), but snowflake-connector-python is bound to `pyarrow>=8.0.0,<8.1.0` which makes it impossible to run on Python 3.11.

1. What version of Python are you using?

   `Python 3.11.0 (main, Oct 24 2022, 22:24:46) [Clang 14.0.0 (clang-1400.0.29.102)]`

2. What operating system and processor architecture are you using?

   `macOS-13.0.1-arm64-arm-

[2022-11-23 16:43] damonallison opened #1346 "SNOW-699262: SFDictFileCache infinite loop"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.10 | packaged by conda-forge | (main, Feb  1 2022, 21:24:11)
[GCC 9.4.0]

2. What operating system and processor architecture are you using?

Linux-5.4.202+-x86_64-with-glibc2.31

3. What are the component versions in the environment (`pip freeze`)?

absl-py==1.0.0
aiofiles==0.

[2022-11-23 17:35] sfc-gh-aling commented on #1346
thanks for reaching out and sharing us with the stack, we're aware of the issue: https://github.com/snowflakedb/snowflake-connector-python/issues/1342 and currently investigating, we will do a bug fix release after fixing the issue.

btw, after cleaning up the cache, will the issue happen again some time in a future time or it's gone completely?

[2022-11-23 18:01] damonallison commented on #1346
hey @sfc-gh-aling - after wiping the cache it's gone completely. this may be related to upgrading from a previous version of the connector (`2.7.6`) to the latest (`2.8.2`). The connector was previously working fine under `2.7.6` and started crashing on `2.8.2`.

[2022-11-23 19:30] sfc-gh-aling commented on #1345
thanks @noamcohen97 for reaching out, we will prioritize the support for Python 3.11 in the first quarter of 2023 and will definitely take this into account.

[2022-11-23 19:47] shacker commented on #1228
I'm currently blocked by the same error in the same situation. Trying to do this without sqlalchemy as the docs say you no longer need it, but can't get it working natively.

[2022-11-23 22:08] sfc-gh-aling commented on #1342
we've found the root cause, it's a bug in our code that when there're expired entries in the OCSP cache dict, the code will try to clean up the expired ones, and then reload. However, reload again kicks off the cleaning up procedure, leading to infinite recursion.

I had a PR out for fix the issue: https://github.com/snowflakedb/snowflake-connector-python/pull/1348

really appreciate sharing us wi

[2022-11-23 22:09] sfc-gh-aling commented on #1346
we've found the root cause, it's a bug in our code that when there're expired entries in the OCSP cache dict, the code will try to clean up the expired ones, and then reload. However, reload again kicks off the cleaning up procedure, leading to infinite recursion.

I had a PR out for fix the issue: https://github.com/snowflakedb/snowflake-connector-python/pull/1348

really appreciate sharing us wi

[2022-11-25 08:42] noamcohen97 commented on #1345
Checkout #1349

[2022-11-25 12:47] Smorasie commented on #1342
[mbwmbw1337](https://github.com/mbwmbw1337) - Thank you!
Was trying to resolve the issue for 3hrs.... Clearing the Cache folder made my day.

[2022-11-26 00:07] mbwmbw1337 commented on #1342
Not a problem... I spent 12 hours on it myself and was ready to throw my laptop out my window... :).

[2022-11-26 05:27] Picon723 opened #1350 "SNOW-700394: AttributeError: 'NoneType' object has no attribute 'cursor'"

[2022-11-28 03:25] yuvanist commented on #1342
@sfc-gh-aling Hey, Can you share the estimated time for this bug fix release? and I'm still facing the same issue from main branch.

[2022-11-28 03:32] mbwmbw1337 commented on #1342
Here's the latest I got... They're recommending rolling back to the prior version until they're able to get a release done.

[code]

[2022-11-28 03:34] yuvanist commented on #1342
Coo. Thanks, @mbwmbw1337. Much Appreciated.

[2022-11-28 05:37] lijoabraham commented on #1342
I was able to proceed by deleting the corrupted cache files from ` C:\Users\<respective user>\AppData\Local\Snowflake\Caches ` folder.

[2022-11-28 06:18] mbwmbw1337 commented on #1342
Thank you for adding.

[2022-11-28 18:55] #1350 closed

[2022-11-28 19:42] friendm opened #1352 "SNOW-700665: Version 2.8.2 Crashing Jupyter Notebook"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

  Python 3.9.13

2. What operating system and processor architecture are you using?

  Windows-10-10.0.19042-SP0

3. What are the component versions in the environment (`pip freeze`)?
snowflake-connector-python==2.8.2
  anaconda-client==1.11.0
anaconda-navigator==2.3.1
conda==22.9.0
conda

[2022-11-28 20:04] sfc-gh-aling commented on #1352
thanks for reaching out we've identified one issue in v2.8.2 that will cause infinite loop if there're expired OCSP cache entries, wondering if that's the issue causing the trouble, we will get the fix to be released soon.

do you mind sharing us with your scripts so that I could verify it's caused by the same issue?

[2022-11-28 20:20] PvanHengel commented on #1342
Hi thanks for this, after many hours of digging I too had this same issue, not sure how it started, what version of the python library will the fix be released in?

[2022-11-28 22:06] shacker commented on #1346
I am also blocked by this. Happy to clear cache... but where? I don't see any snowflake keys in my redis cache, and I don't see a cache-related dir in the lib's dirs. I did delete all of the `pycache` dirs there but that didn't help.

[2022-11-28 22:10] mbwmbw1337 commented on #1342
See the conversation chain above for details of how this occurred. It's a coding bug on Snowflake's side.

To answer the rest of your question: According to Snowflake this issue will be most probably fixed in 2.8.3. Downgrade to 2.8.1 for now.

[2022-11-28 22:13] sfc-gh-aling commented on #1346
the paths to the cache are defined here: https://github.com/snowflakedb/snowflake-connector-python/blob/main/src/snowflake/connector/ocsp_snowflake.py#L83-L99

apologize for the inconvenience and we will do a bug fix release today.

[2022-11-28 22:16] shacker commented on #1346
@sfc-gh-aling Just posted my own update above as you were typing. Thanks!

[2022-11-28 23:22] tekumara commented on #1346
For now, running this on an ubuntu machine resolved this for me:
[code]

Looking forward to the fix!

[2022-11-29 01:26] sfc-gh-aling commented on #1346
hi folks, appreciate your understanding and patience.
we have just released v2.8.3 and yanked v2.8.2. please upgrade via command `pip install snowflake-connector-python --upgrade`.

please let me know if you still encounter the issue or need any other help.

[2022-11-29 01:26] sfc-gh-aling commented on #1342
hi folks, appreciate your understanding and patience.
we have just released v2.8.3 and yanked v2.8.2. please upgrade via command `pip install snowflake-connector-python --upgrade`.

please let me know if you still encounter the issue or need any other help.

[2022-11-29 08:17] ice-ctrl commented on #1331
Same issue, but no snowflake.py file.

[2022-11-29 15:33] friendm commented on #1352
I cannot share the script as it is something I use at work. However, the line of code that caused the issue was the connection string to the database. I used the authentication method "externalbrowser".
``
 conn = snowflake.connector.connect(
                user=USER,
                password=PASSWORD,
                account=ACCOUNT,
                warehouse=WAREHOUSE,
                  **authe

[2022-11-29 17:29] sfc-gh-aling commented on #1352
thanks for sharing the scripts, I will try to reproduce locally.
btw we've released 2.8.3 yesterday fixing a caching issue during connection establishment, do you mind taking a try on the newer version?

[2022-11-29 18:17] sfc-gh-mzukowski opened #1357 "SNOW-701302: Bus error (core dumped) on tutorial example"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]
2. What operating system and processor architecture are you using?

[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

The result is
[code]

5. What did you expect to see?

A version and a clean exit

6. Can you set l

[2022-11-29 19:59] thomasaarholt opened #1358 "Upload Arrow dataset to Snowflake"
## What is the current behavior?
I do not think there is a way to upload an arrow dataset to Snowflake via the snowflake-connector.

## What is the desired behavior?
Given an arrow dataframe, I would like to upload it to Snowflake without going via Pandas (which would result in the `value`column being cast to float, since numpy integer types don't support null values).

Here is an example of a fra

[2022-11-30 00:50] JacobHayes commented on #1342
I think I'm still getting this with 2.8.3 (even after removing the cache dir):
[code]
One other annoying part that it seems to _occasionally_ hang in some C(?) code that doesn't catch `KeyboardInterrupt`s/ctrl-c, so I have to `kill $PYTHON_PROC_PID`.

After downgrading back to 2.8.1 (and removing the cache dir again), it still seems to hang. Perhaps I'm seeing a different issue?

[2022-11-30 00:55] mbwmbw1337 commented on #1342
Would you post a full stack trace or as much as possible? Please follow the instructions here: [https://community.snowflake.com/s/article/How-to-generate-log-file-on-Snowflake-connectors](https://community.snowflake.com/s/article/How-to-generate-log-file-on-Snowflake-connectors) under the `Python Connector / SQLAlchemy` section.

If the issue is similar, I'd respond here and open another bug if di